@import '../../styles/constants';

.grouping__toolbar {
  margin-bottom: 10px;
  margin-left: 21px;
  margin-right: 21px;
}

.grouping__toolbar-button_next {
  margin-left: 10px;
}

.grouping__content {
  margin-left: 21px;
  margin-right: 21px;

  .list-group {
    .list-group-item {
      padding: 4px 0;

      &:hover {
        background: inherit;
        color: inherit;
        border-radius: inherit;
      }
    }
  }
}

.grouping__target-note {
  width: 50%;
  height: 64px;
  background: $color-gray-7;
  border-radius: $border-radius-small;
  color: $color-white;
  font-size: $font-size-small;
  font-weight: $font-weight-semi-bold;
  padding: 14px;
  margin: 34px auto;
}

.grouping__desc {
  background: $color-gray-4;
  color: $text-color-gray;
  width: 100%;
  padding: 0 21px;
  height: 26px;
  display: inline-block;
  white-space: nowrap;
  vertical-align: middle;
  border: 1px solid transparent;
  border-radius: $border-radius-small;
  line-height: 2;
  font-family: $font-family;
  font-size: $font-size-small;
  font-weight: $font-weight-semi-bold;
  font-style: normal;
  text-align: left;
}

.grouping__toolbar_aggregation {
  margin-top: 14px;
}

.grouping__content_aggregation {
  height: 160px;
  margin-left: 0;
  margin-right: 0;

  .list-group {
    .list-group-item {
      border-right: 0;
      border-left: 0;
      padding: 6px 21px;

      &:hover {
        background: inherit;
        color: inherit;
        border-radius: inherit;
      }
    }
  }
}
