@import '../../../../styles/constants';

.select-journal_compact {
  margin-bottom: 0;
  overflow: hidden;
  width: 100%;
}

.select-journal_view-only {
  margin-bottom: 0;

  > p {
    margin-bottom: 0;
  }
}

.select-journal-select-modal__buttons {
  margin-top: 15px;
  display: flex;

  &-space {
    flex: auto;
  }

  & > :nth-child(n) {
    &:not(:last-child) {
      margin-right: 15px;
    }

    min-width: 100px;
  }

  .ecos-modal_mobile & {
    flex-direction: column;
    gap: 10px;

    & > :nth-child(n) {
      margin-right: unset;
    }
  }
}

.select-journal-collapse-panel {
  padding: 15px;
  background: $color-gray-4;
  border-radius: $border-radius-large;
}

.select-journal-collapse-panel__controls {
  display: flex;
  justify-content: space-between;

  .ecos-modal_mobile & {
    flex-direction: column;
    gap: 10px;
  }
}

.select-journal-collapse-panel__controls-left {
  display: flex;

  button {
    margin-right: 15px;
  }
}

.select-journal__grid-container {
  margin-top: 15px;
  margin-left: -20px;
  margin-right: -20px;
  min-height: 150px;
  position: relative;
}

.select-journal__pagination {
}

.select-journal__grid {
  overflow: auto;

  &_transparent {
    opacity: 0.2;
  }
}
