@import '../../../styles/constants';

.ecos-comments {
  $root: &;

  width: 100%;
  min-width: 290px;
  position: relative;

  &_small {
    #{$root}__count {
      width: 100%;
      max-width: 100%;
      margin-bottom: 15px;
    }

    #{$root}__add-btn {
      width: 100%;
      max-width: 100%;
    }

    #{$root}__editor {
      &-footer {
        flex-direction: column;

        &-error {
          margin-right: 0;
          margin-bottom: 10px;
        }

        &-btn {
          width: 50%;
          //min-width: 141px;

          &-wrapper {
            display: flex;
            flex-wrap: nowrap;
          }
        }
      }
    }
  }

  &__add-btn {
    max-width: 48%;
  }

  &__header {
    padding: 15px 20px;
    border-bottom: 2px solid $color-gray-4;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    &-column {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }
  }

  &__count {
    display: inline-flex;
    padding: 0 15px;
    height: 26px;
    align-self: center;

    border: 2px solid $color-gray-1;
    box-sizing: border-box;
    border-radius: 100px;
    max-width: 48%;

    &-text {
      font-weight: 600;
      font-size: 14px;
      line-height: 22px;
      text-align: center;
      white-space: nowrap;
      margin: auto;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &__list {
    padding: 0 20px;

    &-scroll {
      width: 6px;
    }
  }

  &__comment {
    $self: &;

    position: relative;
    border-bottom: 2px $color-gray-4 solid;
    padding: 15px 0;

    &:hover {
      #{$self}-btn-edit,
      #{$self}-btn-delete {
        visibility: visible;
      }

      #{$self}-header-cell_actions {
        background: white;
      }
    }

    &-header {
      display: flex;
      justify-content: space-between;

      &-cell {
        display: flex;

        &_actions {
          position: absolute;
          right: 0;
          top: 15px;
        }
      }

      &-column {
        display: grid;
        grid-auto-rows: max-content;
      }
    }

    &-avatar {
      min-width: 49px;
      width: 49px;
      height: 49px;
      margin-right: 10px;
      background: $color-gray-7;

      &_empty {
        border: 1px solid $color-gray-7;

        & .ecos-avatar__icon {
          font-size: 47px;
        }
      }
    }

    &-name {
      font-weight: bold;
      font-size: 12px;
      line-height: 16px;
      color: $color-black;
      @extend %ellipsis;

      &-container {
        grid-template-columns: minmax(max-content, 1fr);
      }
    }

    &-date {
      font-weight: normal;
      font-size: 11px;
      line-height: 15px;
      color: $color-gray-5;

      &:before {
        font-family: citeck;
        content: '\E83B';
        font-size: 12px;
        color: $color-gray-7;
        margin-right: 5px;
      }

      &-popper {
        padding: 10px 5px;
      }

      &-pseudo-link {
        display: inline-grid;
        cursor: help;
        border-bottom: 1px dashed $color-gray-5;

        &:hover {
          color: $color-blue-dark;
          border-color: $color-blue-dark;
        }
      }
    }

    &-text {
      color: $text-color-dark;
      padding-top: 10px;
      font-style: normal;
      font-weight: 600;
      font-size: 12px;
      line-height: 16px;

      p {
        margin-bottom: 0;
      }

      strong {
        font-weight: bold;
      }

      em {
        font-style: italic;
        font-weight: 600;
      }

      ul {
        margin-left: 17px;
        list-style: disc;
        margin-top: 5px;
        margin-bottom: 5px;
      }
    }

    &-btn {
      font-size: 20px;
      height: 20px;
      display: flex;
      color: $color-gray-6;
      cursor: pointer;

      &-edit {
        visibility: hidden;

        &:hover {
          color: $color-blue-light;
        }
      }

      &-delete {
        visibility: hidden;

        &:hover {
          color: $color-red-1;
        }
      }
    }

    &-confirm {
      position: absolute;
      background: rgba(255, 255, 255, 0.9);
      top: 0;
      left: 0;
      right: 0;
      border: 0;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;

      &-group {
        position: absolute;
        top: 15px;
      }

      &-title {
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 22px;
        color: $text-color-dark;
        margin-bottom: 20px;
        text-align: center;
      }

      &-btn {
        width: 141px;
        max-width: 48%;

        &:not(:last-child) {
          margin-right: 10px;
        }
      }
    }

    a {
      border-bottom: 1px $color-blue-dark solid;

      &:hover {
        border-color: unset;
      }
    }

    &-tag {
      border: 2px $color-gray-5 solid;
      background: white;
      color: $color-black;
      padding: 5px;
      margin-bottom: 5px;
      display: inline-block;

      &:not(:last-of-type) {
        margin-right: 5px;
      }

      &-container {
        display: inline-block;
        max-width: calc(100% - 60px);

        margin-left: 5px;
        margin-top: -7px;
        margin-right: 50px;
      }

      &-popper {
        max-width: 60vw;
        padding: 5px;
      }
    }
  }

  &__editor {
    $editor: &;

    width: 100%;
    min-width: 250px;

    &-decorator {
      &-link {
        color: $color-blue-dark;
        border-bottom: 1px $color-blue-dark solid;

        &:hover {
          color: darken($color-blue-dark, 20%);
          border-color: unset;
        }
      }
    }

    &-header {
      background: $color-gray-6;
      padding: 10px 15px 10px 5px;
      display: flex;
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
    }

    &-body {
      padding: 10px 2px 10px 15px;
      border: 2px solid $color-gray-6;
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 6px;
      margin-bottom: 15px;
      font-size: 14px;
      line-height: 22px;

      .public-DraftStyleDefault-ul {
        margin: 0;
      }
    }

    &-footer {
      display: flex;
      justify-content: space-between;
      align-content: center;

      &-btn {
        width: 141px;

        &:not(:last-child) {
          margin-right: 10px;
        }

        &-wrapper {
          display: flex;
        }
      }

      &-error {
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 16px;
        color: $color-red-1;
        margin-right: 10px;
      }
    }

    button.ecos-btn#{$editor}-button {
      width: 32px;
      padding: 5px;
      height: 30px;
      border-radius: 2px;
      background-color: $color-gray-6;
      color: $color-white;

      &:not(:last-child) {
        margin-right: 2px;
      }

      &:hover {
        background-color: $color-gray-5;
      }

      &_list {
        padding: 5px 7px 5px 3px;
      }

      &_active {
        background-color: $text-color-gray;
      }

      &_link {
        font-size: 20px;
        padding: 5px 0;
      }
    }

    &-link-editor {
      position: absolute;
      z-index: 2;
      background: white;
      padding: 10px 10px;
      border-radius: $border-radius-standard;
      box-shadow: $box-shadow-default;
      min-width: 250px;
      left: calc((-250px / 2) + 50%);
      top: calc(100% + 10px);

      &-input {
        &-container {
          display: grid;
          grid-template-columns: 1fr auto;
          align-items: center;
          margin-bottom: 5px;
        }

        &-icon {
          color: $color-gray-6;
        }
      }

      &-btns {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 5px;

        &-save {
          grid-column-start: 2;

          &_disabled {
            cursor: not-allowed !important;
            opacity: 0.5;
          }
        }
      }

      &-container {
        position: relative;
      }
    }
  }

  &__counter {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: $color-gray-5;

    &-separator {
      margin: 0 5px;
    }

    &-item {
      &_warning {
        color: $color-red-1;
      }
    }
  }
}
