@import '../../../styles/constants';

.process-model-card {
  margin: 5px;
  background-color: transparent;
  border-radius: $border-radius-large;
  overflow: hidden;
  height: 230px;
  border: 2px dashed $color-gray-1;
  box-shadow: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.process-model-card__button {
  border-radius: $border-radius-large !important;
  width: 80%;
}

.bpmn-category {
  &:not(:first-child) {
    margin-top: 10px;
  }
}

.bpmn-category_level1 {
  .process-model-card {
    border-color: $color-brown-2;
  }
  .process-model-card__button {
    background-color: $color-brown-2;

    &:hover {
      background-color: $color-brown-1;
    }

    &:active {
      background-color: $color-brown-2;
    }
  }
}

.bpmn-category_level2 {
  .process-model-card {
    border-color: $color-brown-1;
  }
  .process-model-card__button {
    background-color: $color-brown-1;

    &:hover {
      background-color: $color-brown-3;
    }

    &:active {
      background-color: $color-brown-1;
    }
  }
}
