@import '../../../styles/constants';
@import '../../../styles/content';

:root {
  --column-size: 100%;
  --table-after-background: transparent;
}

.ecos-docs {
  &__body {
    display: flex;
    height: 100%;
    overflow: hidden;
  }

  &__container {
    height: 100%;
  }

  &__column {
    $column: &;

    position: relative;
    display: flex;

    &_table {
      display: flex;
      flex-direction: column;
      flex-shrink: 2;
      width: 100%;

      tr:not(.ecos-grid_drag) > th:first-child,
      tr:not(.ecos-grid_drag) > td:first-child {
        padding-left: 19px;

        .ecos-th,
        .ecos-grid__td {
          padding-left: 0;

          span {
            @extend %ellipsis;
          }
        }
      }

      .ecos-grid {
        &_drag {
          &.ecos-grid__row {
            background: $color-yellow;
            border-right: 2px solid $color-brown-2;

            td {
              border-top: 2px solid $color-brown-2;
              border-bottom: 2px solid $color-brown-2;

              &:first-child {
                padding-left: 12px;
                border-left: 4px solid $color-brown-2;
              }

              .ecos-docs__table-count-status {
                padding: 9px 29px 9px 30px;
              }
            }
          }
        }

        &_no-drag {
          background: $color-yellow;
          outline: 2px solid $color-red-1;

          & > th:first-child,
          & > td:first-child {
            padding-left: 14px;
          }
        }

        &__row {
          position: relative;

          &:hover {
            transform: scale(1);

            .ecos-docs__table-upload-label {
              visibility: visible;
            }
          }
        }
      }
    }

    &_types {
      width: 314px;
      min-width: 150px;
      max-width: 100%;
      flex-shrink: 0;

      & + #{$column}_table {
        margin-left: -2px;
      }
    }

    &:not(:last-child) {
      border-right: 2px $color-gray-4 solid;
    }
  }

  &__badge {
    display: flex;
    align-items: center;
    height: 22px;
    border-radius: 100px;
    color: $color-white;
    padding: 0 11px;
    background: $color-green1;

    &-counter {
      display: flex;
      align-self: normal;
      margin-left: 6px;
      pointer-events: none;
    }

    &-icon {
      font-size: 14px;
      pointer-events: none;
    }

    &_files {
      &-need {
        background: $color-red-1;
      }

      &-can {
        background: $color-gray-6;
      }
    }
  }

  &__types {
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 16px 19px 16px 11px;

    &-item {
      $item: &;

      display: flex;
      justify-content: space-between;
      cursor: pointer;
      height: 40px;
      padding: 9px 12px 9px 15px;
      border-radius: 6px;

      &:hover:not(&_selected) {
        background: $color-gray-25;
      }

      &-label {
        @extend %ellipsis;

        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 23px;
        color: $text-color-dark;
        padding-right: 12px;
      }

      &-settings {
        color: $color-gray-6;

        &:hover {
          color: darken($color-gray-6, 5%);
        }
      }

      &_selected {
        background: $color-blue-light;

        #{$item} {
          &-label {
            color: $color-white;
          }

          &-status {
            border: 2px solid $color-white;
            line-height: 18px;
            padding: 0 9px;
          }

          &-settings {
            color: $color-blue-light2;

            &:hover {
              color: darken($color-blue-light2, 5%);
            }
          }
        }
      }
    }
  }

  &__table {
    width: 100%;
    $table: &;

    .table {
      margin-bottom: 0;

      &:after {
        bottom: unset;
        background: #e8edef;
      }

      &:after:not(#{$table}-row:last-child:hover) {
        bottom: unset;
        --table-after-background: #e8edef;
        background: transparent;
      }

      &:before {
        content: none;
      }

      #{$table}-row {
        cursor: pointer;
        transform: scale(1);
        position: relative;

        &:last-child {
          border: 2px solid transparent;
        }

        &:hover {
          border-right: 2px solid $color-brown-2;

          td {
            border-top: 2px solid $color-brown-2;
            border-bottom: 2px solid $color-brown-2;
          }

          &:not(.ecos-grid_drag) {
            & > td {
              &:first-child {
                padding-left: 17px;
                border-left: 4px solid $color-brown-2;
              }
            }
          }

          .ecos-grid__td {
            margin-top: 8px;
          }

          .ecos-docs__table-count-status {
            padding: 9px 29px 9px 30px;
          }

          &:last-child {
            --table-after-background: transparent;
          }
        }

        &:not(.ecos-grid_drag):first-child {
          &:hover {
            td {
              border-top: 2px solid $color-brown-2;
            }
          }
        }

        &:last-child {
          &:hover {
            .table:after {
              background: transparent;
            }
          }
        }

        .ecos-docs__table .table:after {
          background: transparent;
        }
      }

      .ecos-th {
        width: var(--column-size);
      }
    }

    .ecos-grid {
      &__head-shadow {
        &:after {
          bottom: -2px;
        }
      }

      &__header {
        border-top: 2px solid $color-gray-4;
        border-bottom: 2px solid $color-gray-4;
      }
    }

    &-view {
      padding-top: 2px;
    }

    &.ecos-grid_freeze thead > tr.ecos-grid__header {
      th {
        top: 1px;
      }
    }

    &_hidden {
      display: none;
    }

    &-dropzone {
      &.ecos-dropzone {
        margin: 19px;
        min-height: 90px;
        height: calc(100% - 2 * 19px);
      }

      .ecos-dropzone__label {
        pointer-events: none;
      }

      &_hidden {
        &.ecos-dropzone {
          display: none;
        }
      }
    }

    &-count-status {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      padding: 9px 30px;
      position: relative;
    }

    &-upload-label {
      --label-right-indent: 0;

      position: absolute;
      background: $color-white;
      top: 2px;
      bottom: 2px;
      visibility: hidden;
      font-weight: bold;
      font-size: 14px;
      line-height: 20px;
      color: $color-brown-1;
      right: calc(var(--label-right-indent) + 17px + 30px);
      display: flex;
      align-items: flex-end;
      flex-direction: column;
      justify-content: center;
      white-space: nowrap;

      &:before {
        content: '';
        width: 25px;
        position: absolute;
        left: -25px;
        height: 100%;
        margin: 0;
        background: linear-gradient(to right, rgba(255, 255, 255, 0), $color-white);
      }

      &_error {
        visibility: visible;
        color: $color-red-1;
      }
    }

    &-inline-tools {
      z-index: 0;
      margin-top: 2px;
    }

    &.ecos-grid_freeze {
      .ecos-grid__header {
        th:first-child {
          &:before {
            content: '';
            width: 2px;
            background: $color-gray-4;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
          }
        }
      }
    }

    &_without-after-element {
      .table {
        &:after {
          background: transparent;
        }
      }
    }

    &_types {
      th:nth-last-child(2) {
        .ecos-th__divider {
          display: none;
        }
      }
    }

    &_documents {
      .table.ecos-grid__table {
        .ecos-grid__row {
          &:last-child {
            border: 2px solid transparent;
          }

          td {
            border-width: 2px;
          }

          &:hover {
            td {
              border-color: transparent;
            }
          }
        }
      }
    }

    &-container {
      height: 100%;
      display: grid;
      max-width: 100%;
    }
  }

  &__modal {
    &-settings {
      .modal-body {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
      }

      &-search {
        width: 100%;
        height: 40px;
        margin-bottom: 10px;
      }

      &-field {
        @extend %block--2;
        height: 600px;
        overflow-x: scroll;
      }

      &-footer {
        padding-top: 23px;

        &-item {
          &:not(:last-child) {
            margin-right: 10px;
          }
        }
      }
    }

    &-upload {
      max-width: 468px;
    }

    &-type-settings {
      max-width: 645px;

      &-footer {
        &-item {
          &:not(:last-child) {
            margin-right: 10px;
          }
        }
      }

      &-tabs {
      }

      &-label {
        background: $color-gray-25;
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 16px;
        color: $color-gray-dark;
        border-radius: 10px;
        margin-bottom: 7px;
        padding: 5px 10px;
      }

      &-group {
        margin-bottom: 30px;
      }
    }

    &-checkbox {
      display: flex;
      width: 100%;
      margin-bottom: 20px;
    }
  }

  &__panel {
    $panel: &;

    --e-docs-panel-upload-width: 40px;
    --e-docs-panel-search-width: 175px;

    display: flex;
    padding: 16px 19px;

    &-upload {
      display: flex;
      width: var(--e-docs-panel-upload-width);
      height: 40px;
      background: $color-blue-light;
      color: $color-white;
      border-radius: 6px;
      cursor: pointer;
      margin-right: 10px;

      &-icon {
        margin: auto;
      }

      &:hover {
        background: darken($color-blue-light, 5%);
      }

      &_not-available,
      &_not-available:hover {
        cursor: not-allowed;
        background: $color-blue-light2;
      }
    }

    &-search {
      width: var(--e-docs-panel-search-width);
      margin-right: 10px;
      transition: none;
      height: 40px;
    }

    &-filter {
      $filter: &;

      max-width: calc(100% - var(--e-docs-panel-upload-width) - var(--e-docs-panel-search-width));

      &-control {
        display: flex !important;
        width: 100%;

        & > .ecos-btn__text {
          @extend %ellipsis;
        }
      }

      &.show {
        &-control {
          background: $color-blue-light;
          color: $color-white;
        }
      }
    }

    &_mobile {
      display: grid;
      grid-template-columns: auto 1fr;
      grid-template-rows: 1fr 1fr;
      grid-row-gap: 15px;
      grid-column-gap: 10px;

      #{$panel} {
        &-upload {
          width: 100%;
          min-width: 40px;
          margin: unset;
        }

        &-search {
          width: 100%;
          margin: unset;
        }

        &-filter {
          max-width: unset;
          grid-column-start: 1;
          grid-column-end: 3;
          margin: unset;

          .ecos-btn__i_right {
            position: absolute;
            right: 15px;
          }

          .ecos-dropdown__menu {
            max-width: calc(100vw - 38px);
          }
        }
      }
    }
  }

  &__loader {
    z-index: 1000;
  }

  &__resizer {
    top: 11px;
    z-index: map-get($z-index, document-widget-resizer);
  }

  &__empty-stub {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    height: 198px;
    min-height: 198px;

    &-button {
    }

    &-label {
      font-weight: 600;
      font-size: 14px;
      line-height: 22px;
      text-align: center;
      color: $text-color-dark;
      margin-bottom: 15px;
    }
  }

  &__columns {
    display: flex;
    flex-direction: column;
    border: $border-width-standard solid $color-gray-6;
    border-radius: $border-radius-standard;
    max-height: 284px;

    &-item {
      display: flex;
      vertical-align: inherit;
      padding: 11px 15px;

      &_sorting {
        z-index: 100000 !important;
        background: $color-white;
        border-radius: 6px;
        box-shadow: $box-shadow-hover;
      }

      &:not(:last-child) {
        border-bottom: 1px $color-gray-4 solid;
      }

      &-dnd {
        font-size: 19px;
        color: $color-gray-6;
        margin-right: 15px;
        cursor: grab;
      }

      &-checkbox {
        margin-right: 12px;
      }

      &-label {
        font-weight: bold;
        font-size: $font-size-standard;
        line-height: 23px;
        color: $text-color-gray;
      }
    }
  }

  &__scroll {
    &_only-v {
      & > div:first-of-type {
        overflow: unset !important;
        overflow-y: scroll !important;
      }
    }

    &_only-h {
      & > div:first-of-type {
        overflow: unset !important;
        overflow-x: scroll !important;
      }
    }
  }

  &-m {
    &__panel {
      padding: 15px;
    }

    &-type {
      &__header {
        display: grid;
        grid-template-columns: auto 1fr auto;
        grid-gap: 10px;
        padding: 10px 15px;
        background: $color-yellow;
        color: $text-color-dark;

        &-title {
        }
      }

      &__i {
        &-arrow {
          font-size: 10px;

          &:before {
            transition: 0.5s;
          }

          &_close {
            &:before {
              transform: rotate(-90deg);
            }
          }
        }
      }

      &__body {
      }

      &__upload {
        width: 100%;
        padding: 15px;
      }

      &__progress {
        height: 6px;
        background: $color-gray-6;

        .progress-bar {
          background: $color-blue-dark;
          border-radius: 100px;
        }
      }

      &__popper {
        align-items: start;

        &-popup {
          padding: 8px 14px;
        }
      }
    }

    &-document {
      &:not(:last-of-type) {
        border-bottom: 2px solid $color-gray-4;
      }

      &__title {
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 23px;
        color: $text-color-dark;
      }

      &__info {
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        color: $color-gray-5;
        line-height: 23px;
      }

      &__actions {
        margin-top: 15px;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(40px, 1fr));
        grid-column-gap: 15px;

        &-item {
          $action: &;

          display: grid;
          width: 40px;
          height: 40px;
          border-radius: 50%;
          background: $color-gray-25;
          border: 2px solid $color-gray-25;

          &:hover,
          &:focus,
          &:active {
            background: $color-white;
            border: 2px solid $color-red-1;

            #{$action}-icon {
              color: $color-red-1;
            }
          }

          &-icon {
            color: $color-gray-5;
            font-size: 20px;
            margin: auto;
          }
        }

        &-cancel {
          grid-column-start: 1;
          grid-column-end: -1;
        }
      }
    }

    &__empty {
      height: 100px;
    }
  }
}

.ecos-docs-tree {
  --e-tree-parent-height: 60px;
  --e-tree-child-height: 40px;
  --e-tree-left-indent: 42px;

  display: flex;
  flex-direction: column;
  height: 100%;

  &__item {
    $item: &;

    position: relative;

    &:not(:first-child) {
      margin-top: 6px;
    }

    &:not(&_child):not(:first-child) {
      margin-top: 11px;
    }

    &:before {
      content: '';
      position: absolute;
      width: 4px;
      background: $color-gray-6;
      height: calc(100% - 38px);
      top: 26px;
      left: -24px;
      transform: scaleY(0);
      transition: 0.4s;
      transform-origin: bottom;
      transition-timing-function: cubic-bezier(0.9, 0.1, 0.93, 0.5);
    }

    &-element {
      display: flex;
      position: relative;
      background: $color-white;
      border-radius: 6px;
      height: var(--e-tree-parent-height);
      padding: 19px 18px;
      transition: margin-bottom 0.2s ease-in-out 0.05s;

      &-arrow {
        transition: 0.25s;
        color: $color-gray-dark;
        font-size: 14px;
        margin-right: 7px;
        cursor: pointer;

        &_open {
          transform: rotate(90deg);
        }
      }

      &-check {
        margin-right: 12px;
        min-width: 22px;
      }

      &-label {
        @extend %ellipsis;

        font-weight: bold;
        font-size: 14px;
        color: $text-color-dark;
        margin-right: 18px;

        &_locked {
          color: $color-gray-5;
        }
      }

      &-children {
        display: flex;
        position: relative;
        flex-direction: column;

        #{$item}:first-child > #{$item}-element {
          &:before {
            height: 27px;
            top: -6px;
          }
        }
      }

      &-settings {
        display: none;
        position: absolute;
        right: 20px;
        top: calc(50% - 10px);
        font-size: 20px;
        color: $color-gray-6;
        cursor: pointer;

        &:hover {
          color: $color-blue-light;
        }
      }

      &-badge {
        border: 2px solid $color-gray-1;
        background: $color-white;
        color: $color-gray-5;
        min-width: auto;

        &_selected {
          color: $color-blue-light;
          border-color: $color-blue-light;
        }
      }

      &:hover {
        #{$item}-element-settings {
          display: block;
        }
      }
    }

    &_child {
      margin-left: var(--e-tree-left-indent);

      #{$item} {
        &-element {
          position: relative;
          height: var(--e-tree-child-height);
          padding: 9px 11px;
          margin-bottom: 0;

          &:before {
            content: '';
            position: absolute;
            left: -24px;
            width: 20px;
            height: 100%;
            top: -50%;
            border-radius: 0 0 0 6px;
            border-color: $color-gray-6;
            border-width: 0 0 4px 4px;
            border-style: solid;
          }

          &-label {
            font-weight: 600;
            font-size: 14px;

            &:not(#{$item}-element-label_locked) {
              color: $text-color-gray;
            }
          }
        }
      }
    }

    &_has-grandchildren {
      #{$item}-element-children {
        #{$item}_child:not(#{$item}_parent) {
          #{$item}-element {
            padding: 9px 11px 9px 34px;
          }
        }

        #{$item}_parent:not(#{$item}_has-grandchildren) {
          #{$item}-element {
            padding: 9px 11px;
          }
        }
      }
    }

    &_parent {
      position: relative;

      #{$item} {
        &-element {
          z-index: 10;
        }
      }
    }

    &_open {
      &:before {
        transform: scaleY(1);
        transition: 0.1s;
        transition-timing-function: cubic-bezier(0, 1.25, 1, 1);
      }

      & > #{$item} {
        &-element {
          &-children {
            margin-top: 11px;
          }
        }
      }
    }

    &_not-selected {
      & > #{$item} {
        &-element {
          background: $color-gray-13;
        }
      }
    }

    &_not-selected &_child {
      & > #{$item} {
        &-element {
          &:after {
            height: var(--e-tree-child-height);
          }
        }
      }
    }

    &_locked {
      cursor: not-allowed;
    }

    &_open:last-child,
    &_parent:not(&_child) {
      &:before {
        display: none;
      }
    }
  }

  &__empty {
    padding: 11px 27px;
    background: $color-white;
    display: inline-flex;
    border-radius: 12px;
    margin: 91px auto auto;
    font-weight: bold;
    font-size: 14px;
    line-height: 23px;
    text-align: center;
    color: $text-color-dark;
  }
}
