@import '../../../styles/constants';

.ecos-points-loader {
  $animationDuration: 1.4s;
  $delayRange: 0.32s;

  width: 40%;
  font-size: 8px;
  display: flex;
  justify-content: space-around;
  height: 100%;
  margin: auto;
  text-align: center;
  align-items: center;

  @keyframes loading {
    0% {
      opacity: 0;
    }
    45%,
    55% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  &-child {
    width: 1em; // 8px;
    height: 1em; // 8px;
    border-radius: 50%;
    animation: loading $animationDuration ease-in-out 0s infinite alternate;
    opacity: 0;

    &_white {
      background-color: $color-white;
    }

    &_light-blue {
      background-color: $color-blue-light;
    }

    &-1 {
      animation-delay: -$delayRange;
    }

    &-2 {
      animation-delay: (-$delayRange / 2);
    }
  }
}
