@import '../../../styles/constants';

.ecos-journal__settings-bar {
  $root: &;
  display: flex;
  position: relative;
  width: 100%;
  flex-wrap: wrap;

  & > :nth-child(n) {
    margin-bottom: 12px;
  }

  & > :nth-child(n):not(#{$root}-right-side):not(:last-child) {
    margin-right: 15px;
  }

  .ecos-btn.ecos-journal__add-record {
    font-size: $font-size-xxl;
    min-width: 40px;
  }

  &-update {
    max-width: 40px;
  }

  &-search {
    &:not(.search_collapsed) {
      width: 200px;
    }

    & ~ :nth-child(n) {
      transition: all 0.4s, opacity 0.2s;
    }
  }

  &-export-btn.ecos-btn {
    min-width: 70px;
    background: $color-white;
  }

  &-right-side {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: auto;

    &:empty {
      display: none;
    }

    & > :nth-child(n):not(:last-child) {
      margin-right: 15px;
    }
  }

  &-extra {
    display: flex;
    position: relative;
    width: 100%;
    margin-bottom: 12px;

    &:empty {
      display: none;
    }
  }

  &_mobile {
    & > #{$root}-search {
      &.search_expanded {
        height: 40px;
        flex: auto;
        z-index: 1;

        & ~ :nth-child(n) {
          transform: scale(0);
          width: 0;
          min-width: 0;
          margin: 0;
          padding: 0;
          opacity: 0;
          flex: 0;
        }
      }
    }

    &.search_expanded {
      margin-right: 0;
    }
  }
}

@media (max-width: 1370px) {
  .ecos-journal__settings-bar {
    $root: &;

    & > :nth-child(n):not(#{$root}-right-side):not(:last-child),
    & &-right-side :nth-child(n):not(:last-child),
    & &-extra > :nth-child(n):not(:last-child) {
      margin-right: 10px;
    }
  }
}
