@import '../../../styles/constants';

%btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 40px;
}

%block-padding {
  padding: 12px 20px;
}

%overflow-ellipsis {
  @extend %ellipsis;
  width: 100%;
}

.ecos-vj {
  $root: &;

  position: relative;

  &__headline {
    margin-bottom: 0;
    height: 34px;
  }

  &__block {
    @extend %block-padding;
  }

  &__loader {
    border-radius: 12px;
  }

  &__title {
    background: $color-blue-light4;
    font-weight: bold;
    font-size: 14px;
    line-height: 23px;
    padding: 6px 20px;
  }

  &__version {
    $version: &;

    &:hover {
      #{$version}-actions {
        display: block;
      }
    }

    &-number {
      font-size: $font-size-large;
      margin-right: 10px;
    }

    &-title {
      @extend %overflow-ellipsis;
      color: $text-color-gray;
    }

    &-actions {
      $actions: &;

      display: none;
      right: 20px;
      position: absolute;
      background: $color-yellow;

      &:before {
        $size: 30px;
        border-top-right-radius: $border-radius-extra-large;
        content: '';
        width: $size;
        position: absolute;
        left: -$size;
        top: 0;
        height: 100%;
        background: linear-gradient(to right, rgba(255, 246, 217, 0.35), $color-yellow);
      }

      &-item {
        cursor: pointer;
        color: $color-brown-2;
        font-size: 20px;

        &:not(:last-child) {
          margin-right: 10px;
        }

        &:hover {
          color: $color-brown-1;
        }
      }

      &_mobile {
        &#{$actions} {
          display: flex;
          background: unset;
          position: relative;
          margin-top: 15px;
          left: 0;

          &:before {
            display: none;
          }
        }

        #{$actions}-item {
          background: $color-gray-1;
          color: $color-white;
          border-radius: 50%;
          width: 40px;
          height: 40px;

          &:before {
            display: flex;
            height: 100%;
            align-items: center;
            justify-content: center;
          }
        }
      }
    }

    &-body {
      @extend %block-padding;
    }

    &-author {
      $author: &;

      display: flex;
      align-items: center;

      .ecos-avatar {
        &#{$author}-avatar {
          $size: 32px;

          width: $size;
          min-width: $size;
          height: $size;
          border-radius: 50%;
          object-fit: cover;
          margin-right: 10px;

          &_empty {
            text-align: center;
            background: $color-gray-7;
            color: $color-white;
            font-weight: bold;
            font-size: 14px;
            line-height: $size;
          }

          &_big {
            $size: 49px;

            width: $size;
            min-width: $size;
            height: $size;
          }

          img {
            border: none;
          }
        }
      }

      &-name {
        @extend %overflow-ellipsis;

        font-weight: bold;
        font-size: 12px;
        line-height: 16px;

        &-item {
          @extend %overflow-ellipsis;
        }
      }
    }

    &-comment {
      font-weight: 600;
      font-size: 12px;
      line-height: 16px;
      color: $text-color-gray;
      margin-top: 10px;
      margin-left: 42px;

      &_mobile {
        margin-left: 0;
      }
    }

    &-date {
      font-style: normal;
      font-weight: normal;
      font-size: 11px;
      line-height: 15px;
      color: $color-gray-5;
      margin-left: -1px;

      &-icon {
        color: $color-gray-7;
        font-size: 12px;
        margin-right: 5px;
      }
    }
  }

  &__message {
    color: $color-gray-5;
    padding: 23px;
    text-align: center;
  }

  &__tooltip {
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2), 0 3px 4px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.14);
    background: $color-white !important;
    color: $text-color-dark !important;
    font-weight: 600 !important;
    font-size: 14px !important;
    line-height: 22px !important;

    &-arrow {
      &:before {
        border: none !important;
        top: -6px !important;
        width: 12px !important;
        height: 12px !important;
        background: $color-white !important;
        transform: rotate(45deg);
        box-shadow: 4px 4px 3px 0 rgba(0, 0, 0, 0.1);
      }
    }
  }

  &__btn {
    &-add {
      @extend %btn;

      display: flex !important;

      &-icon {
        font-size: 20px;
        margin-right: 8px;
      }

      &-title {
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 23px;
      }
    }

    &-comparison {
      @extend %btn;

      width: 122px;
      font-weight: bold;

      &_mobile {
        width: 100%;
        margin-top: 10px;
      }
    }
  }

  &__comparison {
    $compare: &;
    margin-bottom: 15px;

    &-dropdown {
      position: relative;
      height: 40px;
      margin-right: 10px;
      min-width: 120px;
      width: 100%;
      max-width: calc(50% - 122px / 2 - 10px);

      &-toggle {
        &.ecos-btn {
          width: 100%;
          background: $color-white;
          border-color: $color-gray-6;
          padding: 10px 15px;
          text-align: left;
        }

        &-icon {
          position: absolute;
          right: 14px;
          color: $color-gray-6 !important;
        }
      }

      &-list.dropdown-menu {
        width: 100%;
        min-width: unset;
      }
    }

    &_small {
      #{$compare}-dropdown {
        max-width: calc(50% - 10px / 2);
        width: 50%;

        &:nth-child(2) {
          margin-right: 0;
        }
      }

      #{$root}__btn-comparison {
        width: 100%;
        margin-top: 10px;
      }
    }
  }
}

.vj-modal {
  max-width: 468px !important;

  &__loader {
    border-radius: 10px;
  }

  &__dropzone {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    background: $color-gray-4;
    border: 2px dashed $color-gray-5;
    border-radius: 6px;
    height: 160px;
    flex-direction: column;

    &:focus {
      outline: none;
    }

    &_disabled {
      opacity: 0.8;
      pointer-events: none;
    }

    &_active {
      background: $color-gray-3;
    }

    &_loading {
      border: none;
    }

    &-uploading {
      width: 190px;
      position: relative;
    }

    &-label {
      color: $text-color-dark;
      font-weight: 600;
      font-size: 14px;
      line-height: 22px;
      text-align: center;
      width: 190px;

      &-in {
        margin-bottom: 15px;
      }
    }

    &-button {
      cursor: pointer;
      max-width: 190px;
      width: 100%;
      height: 40px;
      background: $color-blue-dark;
      color: $color-white;
      font-weight: bold;
      font-size: 14px;
      line-height: 40px;
      text-align: center;
      border-radius: 8px;

      &:hover {
        background: $color-blue-light;
      }
    }
  }

  &__progress-bar {
    border: 0;
    height: 6px;
    border-radius: 3px;
    background-color: $color-blue-dark;
    margin: 28px auto 20px;
    width: 100%;

    &::-webkit-progress-bar {
      background-color: $color-gray-6;
      border: 0;
      height: 6px;
      border-radius: 3px;
    }

    &::-webkit-progress-value {
      transition: width 1s ease-out;
      border: 0;
      height: 6px;
      border-radius: 3px;
      background-color: $color-blue-dark;
    }

    &::-moz-progress-bar {
      background-color: $color-gray-6;
      border: 0;
      height: 6px;
      border-radius: 3px;
    }
  }

  .dzu {
    &-preview {
      &Image {
        display: none !important;
      }

      &FileName {
        display: none !important;
      }

      &Container {
        padding: 0 !important;
        min-height: unset !important;
      }

      &StatusContainer {
        margin: 18px auto 30px !important;
      }
    }

    &-submitButtonContainer {
      margin: 0 !important;
    }
  }

  &__radio {
    margin-top: 28px;

    &_first-block {
      margin-top: 0;
    }
  }

  &__file {
    color: $text-color-dark;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    padding: 9px 0;
    border-top: 2px $color-gray-4 solid;
    border-bottom: 2px $color-gray-4 solid;
    margin-top: 15px;
  }

  &__comment {
    margin-top: 23px;

    &-header {
      display: flex;
      justify-content: space-between;
    }

    &-body {
      margin-top: 5px;
    }

    &-title {
      color: $color-gray-dark;
      font-style: normal;
      font-weight: 600;
      font-size: 12px;
      line-height: 20px;
    }

    &-counter {
      display: flex;

      color: $color-gray-5;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 25px;

      &-number {
        &:last-child {
          &:before {
            content: '/';
            padding: 0 5px;
          }
        }

        &_error {
          color: $color-red-1;
        }
      }
    }

    &-input {
      width: 100%;
      min-height: 70px;
      padding: 10px 15px;
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 22px;
      border: 2px solid $color-gray-6;
      border-radius: 6px;
    }
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    margin-top: 21px;
  }

  &__btn {
    &-cancel,
    &-add {
      max-width: 208px;
      width: 50%;
      height: 40px;
    }
  }

  &__error {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    color: $color-red-1;
    margin-top: 18px;
  }

  &-comparison {
    $comparison: &;

    &.ecos-modal {
      max-width: 96%;
    }

    &__header {
      display: flex;
      align-items: center;
      background: $color-gray-13;
      border: 1px solid $color-gray-14;
      height: 45px;

      &-item {
        position: relative;
        display: flex;
        flex-wrap: nowrap;
        width: 50%;
        padding: 0 18px;

        &:not(:last-child) {
          &:after {
            $width: 1px;
            $height: 37px;

            content: '';
            position: absolute;
            top: calc(50% - #{$height} / 2);
            right: calc(0px - #{$width});
            background: $color-gray-7;
            width: $width;
            height: $height;
          }
        }
      }

      &-version {
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 22px;
        color: $text-color-dark;
        margin-right: 15px;
        white-space: nowrap;
      }

      &-date {
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 23px;
        color: $text-color-gray;
        margin-right: 15px;
        white-space: nowrap;
      }

      &-author {
        display: flex;
        align-items: center;
        overflow: hidden;

        &-name {
          @extend %overflow-ellipsis;

          font-style: normal;
          font-weight: 600;
          font-size: 12px;
          line-height: 16px;
          color: $color-black;
        }

        &-icon {
          color: $color-gray-6;
          font-size: 20px;
          line-height: 1em;
          margin-right: 7px;
        }
      }
    }

    &__body {
      background: $color-gray-15;
      border: 1px solid $color-gray-14;
      border-top: none;
      display: flex;
      justify-content: space-around;
      padding: 18px 0;
    }

    &__document {
      $document: &;

      position: relative;
      max-width: 47%;
      width: 100%;
      background: $color-white;
      padding: 20px 17px;
      word-break: break-word;
      box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2), 0 3px 4px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.14);

      &-content {
        .DELETE {
          background-color: $color-pink;
        }

        .INSERT {
          background-color: $color-gray-9;
          color: transparent;
        }

        &_right {
          .DELETE {
            background-color: $color-gray-9;
            color: transparent;
          }

          .INSERT {
            background-color: $color-green;
            color: $color-black;
          }
        }

        &-message {
          padding: 12px;
          border-radius: $border-radius-extra-large;
          background: $color-gray-15;
          display: flex;
          margin: auto;
          max-width: 152px;
          text-align: center;
          font-style: normal;
          font-weight: 600;
          font-size: $font-size-small;
          line-height: 16px;
          color: $text-color-dark;
        }
      }

      &-btn {
        position: absolute;
        right: 10px;
        top: 10px;

        &.ecos-btn {
          display: none;
          padding: 0 12px;
        }

        &-title {
          color: $text-color-gray;
          font-style: normal;
          font-weight: bold;
          font-size: 14px;
          line-height: 23px;
        }

        &-icon {
          margin-right: 4px;

          &.icon-download {
            font-size: 13px;
          }
        }
      }

      &:hover {
        #{$document}-btn.ecos-btn {
          display: block;
        }
      }
    }

    &__footer {
      display: flex;
      flex-direction: column;
      padding: 15px 15px 0 15px;

      &-btn {
        &.ecos-btn {
          width: 100%;
        }
      }
    }

    &__tabs {
      margin-top: 16px;
      width: 100%;

      .ecos-tab {
        width: 50%;
        background: $color-gray-4;
        color: $text-color-gray;

        &_active {
          background: $color-blue-dark;
          color: $color-white;
        }
      }
    }

    &_small {
      .modal-body {
        padding-left: 0;
        padding-right: 0;
      }

      &.ecos-modal {
      }

      #{$comparison}__header {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        border: none;
        height: auto;

        &-date {
          background: $color-yellow;
          width: 100%;
          font-style: normal;
          font-weight: bold;
          font-size: 14px;
          line-height: 23px;
          color: $text-color-gray;
          padding: 5px 15px;
        }

        &-author {
          width: 100%;
          padding: 11px 15px;
          background: $color-white;
        }
      }

      #{$comparison}__body {
        padding: 14px 8px;
      }

      #{$comparison}__document {
        max-width: 100%;
      }
    }
  }
}
