@import '../../../styles/constants';

.ecos-filters-group {
  border-radius: $border-radius-standard;
  border: 2px solid $color-gray;

  &__head {
    position: relative;
  }

  &__tools {
    display: flex;
    align-items: center;
    padding: 13px 20px 10px 20px;

    & :not(:last-child) {
      margin-right: 10px;
    }

    &-label {
      color: $text-color-gray;
      font-weight: $font-weight-semi-bold;
    }

    &-space {
      flex: auto;
    }
  }

  &__item {
    &_draggable {
      background: $color-white;
      z-index: 20000 !important;
      list-style-type: none;
      outline: none;
      box-shadow: $box-shadow-default;
    }
  }

  &__select {
    width: 160px;
  }

  &__empty {
    height: 40px;
  }

  &__droppable {
    & *:focus-visible {
      outline: none !important;
    }
  }
}
