@import '../../../../styles/constants';

.ecos-field {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.ecos-field_small {
  display: block;
}

.ecos-field__label {
  font-family: $font-family !important;
  font-size: $font-size-standard !important;
  font-weight: $font-weight-semi-bold !important;
  color: $text-color-dark !important;
  padding-left: 0;
  //white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 180px;
  line-height: 1.2;
  margin-right: 10px;
  padding-right: 10px;

  &_required {
    position: relative;

    &:after {
      content: '*';
      position: absolute;
      right: 0;
      top: 0;
      color: red;
      width: 10px;
      height: 10px;
      font-size: 1em;
    }
  }

  &_align-top {
    display: flex;
    align-self: baseline;
  }
}

.ecos-field__label_small {
  width: auto;
  margin-bottom: 5px;
}

.ecos-field__control {
  padding: 0;
  min-width: 350px;
}

.ecos-field__control_small {
  min-width: auto;
}
