@import '../../constants';

.formio-dialog.formio-dialog-theme-default .formio-dialog-content {
  background-color: $color-white;
}

.formio-dialog-content .panel.form-builder__panel-js {
  margin-bottom: 10px;
}

.formio-dialog-content .preview-panel,
.formio-form {
  .ecos-form__value_unreadable {
    color: $color-gray-5;
    font-weight: $font-weight-normal;
  }

  .formio-component {
    &.formio-component_transparent-label {
      .control-label {
        visibility: hidden;
      }
    }

    &:focus {
      outline: none;
    }
  }

  .formio-disabled-input {
    &.formio-component.formio-component-button > .btn {
      cursor: not-allowed;
    }

    .form-control {
      border-color: $color-gray-6;
      background-color: $color-gray-4;
      color: $text-color-gray;
      cursor: not-allowed;

      input {
        background-color: $color-gray-4;
      }

      &:after {
        color: $color-gray-6 !important;
      }

      &:focus {
        border-color: $color-gray-6;
      }

      &:hover {
        border-color: $color-gray-6;
      }
    }
  }

  .form-control {
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding: 6px 12px;
    height: auto;
    line-height: 24px;
    padding-left: $input-padding;
    padding-right: $input-padding;
    background: $color-white;
    border: $border-width-standard solid $color-gray-6;
    border-radius: $border-radius-standard;
    font-weight: $font-weight-semi-bold;
    font-size: $font-size-standard;
    color: $text-color-dark;
    outline: none;

    &::placeholder {
      color: $color-gray-5;
    }

    &:focus {
      border-color: $color-blue-dark;
      box-shadow: none;
    }
    &:hover {
      border-color: $color-blue-light;
    }
  }

  .was-validated .form-control:invalid,
  .form-control.is-invalid {
    border-color: $color-red-1;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='11' viewBox='0 0 12 11' fill='none'%3E%3Cpath d='M6 0C6.4 0 6.7 0.2 6.9 0.5L11.9 9.5C12 9.8 12 10.2 11.9 10.5 11.7 10.8 11.4 11 11 11H1C0.6 11 0.3 10.8 0.1 10.5 0 10.2 0 9.8 0.1 9.5L5.1 0.5C5.3 0.2 5.6 0 6 0ZM2.7 9H9.3L6 3.1 2.7 9Z' fill='%23FF5721'/%3E%3C/svg%3E%0A");
    background-position: top 12px right 12px;
    background-size: 12px;
    background-repeat: no-repeat;
    cursor: help;

    &:focus {
      box-shadow: none;
      border-color: $color-red-1;
    }
  }

  .field-required:after {
    position: relative !important;
    font-size: 150%;
    color: $color-red-1;
    line-height: 0;
    display: inline-block;
    height: 0.5em;
    top: 0.15em;
    left: 0.2em;
  }

  .control-label {
    font-size: $font-size-small;
    font-weight: $font-weight-semi-bold;
    color: $text-color-dark;
  }

  /* error message TODO */
  .invalid-feedback {
    color: $color-red-1;
    font-size: $font-size-small;
    margin-top: 0.5rem;
  }

  .tooltip {
    opacity: 1;
  }

  .tooltip-inner {
    width: max-content;
    max-width: calc(100vw - 2rem);

    padding: 0.5rem 1rem;
    color: #444;
    text-align: left;
    background-color: #fff;
    border-radius: $border-radius-large;
    box-shadow: $box-shadow-tooltip;
    font-weight: $font-weight-semi-bold;
  }

  .tooltip-arrow {
    position: absolute;
  }

  .tooltip[x-placement='right'] .tooltip-arrow {
    top: -0.25rem;
    left: 0.25rem;
    border-width: 0;
    width: 0.5rem;
    height: 0.5rem;
    background-color: $color-white;
    border-top-color: $color-white;
    transform: rotate(-45deg);
    box-shadow: -6px -3px 5px rgba(0, 0, 0, 0.2);

    &:before {
      content: none;
    }
  }

  .loader-wrapper {
    background: none;
  }

  .loader {
    margin-left: -22px;
    margin-top: -25px;
    border: 2px solid #b8cae6;
    border-top: 2px solid $color-blue-light;
    width: 45px;
    height: 45px;
    animation: spin 1s linear infinite;
  }
}

.loader-wrapper {
  background-color: rgba(255, 255, 255, 0.7) !important;
  border-radius: $border-radius-extra-large;
}
