@import '../../../../styles/constants';

.ecos-input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: $form-input-height;
  padding-left: 15px;
  background: $color-white;
  border: $border-width-standard solid $color-gray-6;
  border-radius: $border-radius-standard;
  font-family: $font-family;
  font-weight: $font-weight-semi-bold;
  font-size: $font-size-standard;
  color: $text-color-dark;
  outline: none;

  &::placeholder {
    color: $color-gray-5;
  }

  &_narrow {
    height: 26px;
    padding: 0 10px;
  }

  &_grid-editor {
    width: 100%;
    height: 22px;
    font-size: $font-size-small;
    font-weight: $font-weight-normal;
    padding-left: 5px;
  }

  &_invisible {
    opacity: 0;
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
    border: 0;
  }

  &:disabled {
    background: $color-gray-4;
    border-color: $color-gray-6;
    color: $text-color-gray;
  }

  &[type='text'],
  &_hover {
    &:not(:disabled):hover {
      border-color: $color-blue-light !important;
    }
  }
  &[type='text'],
  &_focus {
    &:not(:disabled):hover {
      border-color: $color-blue-dark !important;
    }
  }

  &_left {
    text-align: left;
    padding-left: 10px;
  }

  &_right {
    text-align: right;
    padding-right: 15px;
  }

  &_center {
    text-align: center;
    padding-right: 15px;
    padding-left: 15px;
  }

  &__icon {
    &_clear.icon {
      cursor: pointer;
      position: absolute;
      font-size: $font-size-standard;
      z-index: 5;
      line-height: 1em;
      top: calc(50% - 1em / 2);
      right: 0.5em;
      color: $color-gray-12;
    }
  }
}

.ecos-ml-text {
  &__input &:not(disabled) {
    &:focus,
    &:hover {
      border-color: $color-blue-light;
    }
  }
}
