@import '../../../constants';

.formio-dialog-content .preview-panel,
.formio-form {
  .formio-component-button,
  .formio-component-importButton {
    .btn:not(.btn-xxs) {
      cursor: pointer;
      display: inline-block;
      white-space: nowrap;
      height: 40px;
      margin: 0;
      padding: 9px 15px;
      text-align: center;
      font-family: $font-family;
      font-weight: $font-weight-semi-bold;
      font-size: $font-size-standard;
      border-radius: $border-radius-large;
      border: none;
      transition: background-color 0.15s ease-out;
      overflow: hidden;
      text-overflow: ellipsis;

      &:focus,
      &:focus:active {
        box-shadow: none;
      }

      &.btn-default {
        color: $text-color-dark;
        background-color: $color-gray-4;

        &:hover {
          background-color: $color-gray-1;
        }

        &:active {
          background-color: $color-gray-4;
        }

        &:disabled {
          background-color: $color-gray-4;
          color: $color-gray-5;
        }
      }

      &.btn-primary {
        color: $color-white;
        background-color: $color-blue-dark;

        &:hover {
          background-color: $color-blue-light;
        }

        &:focus {
          box-shadow: none;
        }

        &:active {
          background-color: $color-blue-dark;
        }

        &:disabled {
          background-color: $color-blue-light2;
          color: $color-white;
        }
      }

      &.button_full_width {
        width: 100%;
      }

      &.btn_narrow {
        height: 26px;
        line-height: 26px;
        padding: 0 15px;
        border-radius: $border-radius-standard;
        font-size: $font-size-small;
      }

      &.btn-xs {
        height: 18px;
        padding: 0 5px;
        border-radius: $border-radius-small;
        font-size: $font-size-extra-small;

        .fa,
        .icon {
          height: 100%;
          vertical-align: middle;
          font-size: 1em;
          display: inline;
        }
      }

      &.btn-sm {
        height: 26px;
        padding: 0 10px;
        border-radius: $border-radius-standard;
        font-size: $font-size-small;

        .fa,
        .icon {
          height: 100%;
          vertical-align: middle;
          font-size: 1em;
          display: inline;
        }
      }

      &.btn-md {
        border-radius: $border-radius-standard;
      }

      &.btn-lg {
        height: 48px;
        padding: 0 20px;
        font-size: $font-size-large;
        border-radius: $border-radius-large;
      }
    }
  }
}

@media (max-width: 768px) {
  .formio-form .formio-component-button {
    .btn.btn_without-indents {
      margin-bottom: 10px;
    }
  }
}
