@import '../../../styles/constants';

$border-toolbar: #c1c1c1;
$background-toolbar: #fbfbfb;
$background-viewer: #f5f5f5;
$border-base: #c1c1c1;

%base-flex {
  display: flex;
  align-items: center;
}

%decreasing-step {
  &-1 {
    .ecos-doc-preview__toolbar-zoom-dropdown {
      display: none;
    }
  }

  &-2 {
    @extend %decreasing-step-1;

    .ecos-doc-preview__toolbar-pager-text-wrapper {
      display: none;
    }
  }

  &-3 {
    @extend %decreasing-step-2;

    .ecos-doc-preview__toolbar-zoom-fullscreen {
      display: none;
    }
  }
}

.ecos-doc-preview {
  $root: &;

  &_decreasing-step {
    &-1 {
      @extend %decreasing-step-1;
    }
    &-2 {
      @extend %decreasing-step-2;
    }
    &-3 {
      @extend %decreasing-step-3;
    }
  }

  &.no-data {
    border: unset;
  }

  &_hidden {
    visibility: hidden;
    overflow: hidden;
  }

  &__content {
    height: 100%;
    width: 100%;

    &_indents {
      padding-top: 14px;
      padding-right: 17px;
      padding-left: 17px;
    }
  }

  &-dashlet {
    &_small,
    &_mobile_small {
      #{$root} {
        &__toolbar {
          > * {
            padding: 0 5px;
          }

          &-pager {
            &-input,
            &-text {
              display: none;
            }
          }

          &-zoom-dropdown {
            display: none;
          }
        }

        &__viewer-page-number {
          display: none;
        }
      }
    }

    &_mobile:not(&_mobile_small) {
      #{$root} {
        &__toolbar {
          &-zoom-dropdown {
            display: none;
          }
        }

        &__viewer-page-number {
          display: none;
        }
      }
    }
  }

  &__loader {
    padding: 15px;
    position: relative;
  }

  &__info-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;

    &-msg {
      height: unset;
    }
  }

  &__toolbar {
    @extend %base-flex;
    justify-content: center;
    background-color: $background-toolbar;
    border: 1px solid $border-base;
    min-height: 45px;
    min-width: 250px;

    &-wrapper {
      display: flex;
      margin: auto;

      & > * {
        padding: 0 15px;
      }

      & > *:not(:last-child) {
        border-right: 1px solid $border-toolbar;
      }
    }

    &-group {
      @extend %base-flex;

      & > * {
        margin: 0 5px;
      }
    }

    &-pager {
      &-input {
        display: inline-block;
        width: 35px;
        height: 100%;
        padding: 1.5px;
        margin-right: 0;
        text-align: center;
      }

      &-text {
        display: inline-block;
        white-space: nowrap;
        overflow: hidden;
        max-width: 55px;
        text-overflow: ellipsis;
        margin-left: 5px;

        &-wrapper {
          display: flex;
          align-items: center;
          margin: 0 5px;
        }
      }

      &-prev {
      }

      &-next {
      }
    }

    &-zoom {
      &-selector {
        @extend %base-flex;

        max-width: 145px;
      }
    }

    &-extra-btns {
    }
  }

  &__viewer {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    background-color: $background-viewer;
    position: relative;
    height: calc(100% - 45px);
    border-bottom: 1px solid $border-base;
    border-right: 1px solid $border-base;
    border-left: 1px solid $border-base;

    &_fullscreen {
      height: 100vh;
      width: 100vw;
    }

    &-dh {
      height: 100%;
    }

    &-scroll-area {
    }

    &-page {
      margin: 0 auto;

      &_center {
        justify-content: center;
      }

      &_pdf {
        &::before {
          content: ' ';
          height: 10px;
          display: block;
        }
      }

      &_img {
        height: 100%;
        width: 100%;
        text-align: unset;

        #{$root}__viewer-page-content {
          margin: unset;
        }
      }

      &_full {
        height: 100%;
      }

      &-number {
        @extend %grey-cycle;
        position: absolute;
        left: 15px;
      }

      &-content {
        display: inline-block;
        box-shadow: $box-shadow-default;
        transition: all 0.3s cubic-bezier(0.65, 0.05, 0.36, 1);
        transform-origin: top center;

        &_img {
          transform-origin: top left;
          transition-duration: 0.5s;
        }
      }

      &_img &-content {
      }
    }

    &-wrapper {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 100%;
    }
  }

  &__btn-close-fullscreen {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    @extend %grey-cycle;

    .icon {
      font-size: $font-size-small;
    }
  }
}

.ecos-modal-preview-doc {
  height: 95%;

  .modal-content {
    height: 100%;
  }

  & &__content {
    & .ecos-doc-preview__content {
      padding: 0;
    }
  }

  &__body.modal-body {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
}
