@import '../../styles/constants';

.ecos-bpmn-designer {
  &-common {
    &__container_white {
      background: $color-white;
      border-radius: $border-radius-extra-large;
      padding: 15px;
      margin-bottom: 10px;
    }

    &__loader {
      position: relative;
      height: 100px;
    }
  }

  &__content {
    overflow: auto;
    max-height: calc(100vh - 275px);
  }

  &__add-category {
    background: $color-gray-1;
    border-radius: $border-radius-large;
    font-weight: $font-weight-semi-bold;
    color: $text-color-gray;
    margin-top: 10px;
    padding: 10px;
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;

    &:hover {
      background-color: $color-gray-2;
    }
  }

  &-control-panel {
    & .ecos-dropdown__toggle_static {
      font-size: $font-size-xxl;
    }

    &__side-right {
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }

    &__counter {
      color: $text-color-gray;
      font-weight: $font-weight-semi-bold;
    }
  }
}
