@import '../../../../styles/constants';

.ecos-dialog {
  $root: &;

  &__buttons {
    margin-top: 25px;
    display: grid;
    grid-auto-flow: column;
    justify-content: end;
    grid-gap: 1em;
  }

  &_no-buttons {
    .ecos-dialog__buttons {
      margin-top: 0;
    }
  }

  &__body {
    white-space: pre-wrap;
  }

  &_headless {
    & .ecos-modal-header {
      height: 40px;
    }

    & .modal-body,
    #{$root}__body {
      font-size: $font-size-large;
      font-weight: $font-weight-semi-bold;
      text-align: center;
    }
  }

  &_removal {
    & .ecos-remove-dialog__footer {
      justify-content: space-between;

      & .ecos-btn {
        width: 100%;
      }
    }
  }

  &_confirm {
    #{$root}__buttons {
      display: grid;
      justify-content: normal;
      grid-gap: 1em;

      & .ecos-btn {
        width: 100%;
      }
    }
  }

  &_info {
  }

  &_form {
    #{$root}__body {
      white-space: initial;
    }
  }

  &_custom {
  }

  &_loader {
    &.ecos-modal {
      max-width: 250px;

      .modal-body {
        height: 140px;
        text-align: center;
        font-weight: $font-weight-bold;
      }
      .modal-loading {
        align-items: flex-end;
        bottom: 15px;
        background: unset;
      }
    }
  }
}
