$text-color-dark: #444444;
$text-color-gray: #767676;

$color-white: #ffffff;
$color-black: #000000;
$color-blue-dark: #4b75b7;
$color-blue-dark2: #2a446c;
$color-blue-light: #7396cd;
$color-blue-light2: #c6d6f0;
$color-blue-light3: #f8fbfd;
$color-blue-light4: #f3f7f9;
$color-gray: #e5e5e5;
$color-gray-1: #d8dee1;
$color-gray-2: #cdd3d6;
$color-gray-3: #d5dcde;
$color-gray-4: #e8edef;
$color-gray-5: #b7b7b7;
$color-gray-6: #d0d0d0;
$color-gray-7: #c4c4c4;
$color-gray-8: #d5d5d5;
$color-gray-9: #d4d4d4;
$color-gray-10: #f3f7f9;
$color-gray-11: #8a8a8a;
$color-gray-12: #757575;
$color-gray-13: #fbfbfb;
$color-gray-14: #c8c7c8;
$color-gray-15: #f5f5f5;
$color-gray-25: #f3f3f3;
$color-gray-dark: #141414;
$color-red-1: #ff5721;
$color-red-2: #ec4f1d;
$color-yellow: #fff6d9;
$color-yellow2: #ffedad;
$color-yellow3: #ffc700;
$color-yellow-10: #ffeac0;
$color-yellow-20: #efcd92;
$color-yellow-30: #cd842f;

$color-orange: #ff792d;

$color-yellow-1: #fff6d9;
$color-brown-1: #bdb497;
$color-brown-2: #e4d9b8;
$color-brown-3: #ada690;

$color-pink: #ffbcb3;
$color-pink-2: #ffe9e9;
$color-pink-3: #ebcdcd;
$color-pink-4: #fdf4f5;
$color-green: #cbf8cd;
$color-green1: #00c308;
$color-green-dark: #138e6d;
$color-green-light: #1ab289;
$color-green-light2: #c0ede1;
$color-footer: #f8f9fa;

$color-green-10: #00a707;

$text-link: $color-blue-dark;
$text-link_hover: $color-blue-dark2;

$font-weight-bold: 700;
$font-weight-semi-bold: 600;
$font-weight-normal: 400;

$font-size-xxl: 24px;
$font-size-extra-large: 20px;
$font-size-large: 18px;
$font-size-15: 15px;
$font-size-standard: 14px;
$font-size-small: 12px;
$font-size-extra-small: 11px;

$font-family-open-sans: 'Open Sans', sans-serif;
$font-family-citeck: 'citeck';
$font-family: $font-family-open-sans;

$border-width-standard: 2px;

$border-radius-small: 4px;
$border-radius-standard: 6px;
$border-radius-large: 8px;
$border-radius-extra-large: 12px;
$border-radius-biggest: 100px;

$box-shadow-default: 0 1px 5px rgba(0, 0, 0, 0.2), 0 3px 4px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.14);
$box-shadow-hover: 0px 2px 9px rgba(0, 0, 0, 0.15), 0px 6px 8px rgba(0, 0, 0, 0.1), 0px 4px 8px rgba(0, 0, 0, 0.1);
$box-shadow-tooltip: 0 1px 5px rgba(0, 0, 0, 0.2), 0 3px 4px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.14);
$box-shadow-tooltip-arrow-top: -3px 3px 5px rgba(0, 0, 0, 0.2);

$box-shadow-grid-head: 0 3px 3px -2px rgba(0, 0, 0, 0.7);
$box-shadow-grid-left: 3px 0 3px -2px rgba(0, 0, 0, 0.7);

$page-background-color: $color-gray-4;

$form-input-height: 40px;

$select-option-line-height: 22px;

/* override bootstrap constants */
$primary: $color-blue-dark;
$secondary: $color-gray-4;
$success: $color-green-10;
$danger: $color-red-2;
$warning: $color-yellow3;

$citeck-icon-checkbox: '\e82b';
$citeck-icon-checkbox-checked: '\e82f';
$citeck-icon-checkbox-dark: '\e82c';
$citeck-icon-radio: '\e836';
$citeck-icon-radio-checked: '\e835';
$citeck-icon-radio-dark: '\e834';
$citeck-icon-left: '\e808';
$citeck-icon-right: '\e809';
$citeck-icon-calendar: '\e803';
$citeck-icon-down: '\e814';
$citeck-icon-up: '\e818';
$citeck-icon-close: '\e823';
$citeck-icon-pencil: '\e816';
$citeck-icon-link: '\e841';

$background-loader: rgba($color-gray-5, 0.3);

$scroll-size: 6px;
$scroll-border-radius: 3px;
$scroll-z-index: 30;

$z-index: (
  document-widget-resizer: auto,
  draggable-tree-item: 10000
);

%v-scroll {
  position: absolute;
  width: $scroll-size;
  right: 5px;
  bottom: 2px;
  top: 6px;
  border-radius: $scroll-border-radius;
  visibility: visible;
  z-index: $scroll-z-index;
}

%h-scroll {
  position: absolute;
  height: $scroll-size;
  right: 5px;
  left: 5px;
  bottom: 2px;
  border-radius: $scroll-border-radius;
  visibility: visible;
  z-index: $scroll-z-index;
}

%ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

%hidden-scrollbar {
  -ms-overflow-style: none; // Internet Explorer 10+
  scrollbar-width: none; // Firefox
  &::-webkit-scrollbar {
    display: none; // Safari and Chrome
  }
}

%grey-cycle {
  background-color: rgba(44, 44, 44, 0.25);
  border-radius: 20px;
  width: 25px;
  height: 25px;
  color: $color-white;
  font-size: small;
  text-align: center;
  vertical-align: middle;
  padding-top: 3px;
}

:export {
  colors: {
    primary: $primary;
    success: $success;
  }
}
