@import '../../../../styles/constants';

.ecos-select {
  .select__indicator-separator {
    width: 0;
  }

  .select__loading-indicator {
    display: none;
  }

  .select__control {
    box-sizing: border-box;
    background: $color-white;
    border: $border-width-standard solid $color-gray-6;
    border-radius: $border-radius-standard;
    font-family: $font-family;
    font-weight: $font-weight-semi-bold;
    font-size: $font-size-standard;
  }

  .select__single-value {
    color: $text-color-dark;
  }
  .select__placeholder {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .select__placeholder,
  .select__clear-indicator,
  .select__dropdown-indicator {
    color: $color-gray-6;
  }

  .select__control:hover,
  .select__input input[type='text']:hover {
    border-color: $color-blue-light;
    box-shadow: none;

    .select__clear-indicator,
    .select__dropdown-indicator {
      color: $color-blue-light;
    }
  }

  .select__control.select__control--is-focused,
  .select__input input[type='text']:focus {
    border-color: $color-blue-dark;
    background: $color-blue-dark;
    box-shadow: none;

    .select__input,
    .select__single-value,
    .select__placeholder,
    .select__clear-indicator,
    .select__loading-indicator,
    .select__dropdown-indicator {
      color: $color-white;
    }
  }

  .select__menu {
    background: $color-white;
    box-shadow: $box-shadow-default;
    border-radius: $border-radius-standard;
    margin-top: 5px;
    overflow: hidden;
    z-index: 1000;
  }

  .select__option {
    font-family: $font-family;
    font-weight: $font-weight-semi-bold;
    font-size: $font-size-standard;
    color: $text-color-dark;
    background: $color-white;
    line-height: $select-option-line-height;

    &:hover {
      background: $color-gray-4;
    }

    &--is-selected {
      background-color: rgba(0, 126, 255, 0.04);
      color: #333;
    }
  }
}

.ecos-select_grey {
  .select__control {
    background: $color-gray-4;
    border: $border-width-standard solid $color-gray-4;
  }

  .select__single-value,
  .select__placeholder,
  .select__clear-indicator,
  .select__dropdown-indicator {
    color: $text-color-dark;
  }

  .select__control:hover,
  .select__input input[type='text']:hover {
    background: $color-gray-1;
    border-color: $color-gray-1;
    box-shadow: none;

    .select__clear-indicator,
    .select__dropdown-indicator {
      color: $text-color-dark;
    }
  }

  .select__control.select__control--is-focused,
  .select__input input[type='text']:focus {
    border-color: $color-gray-1;
    background: $color-gray-1;
    box-shadow: none;

    .select__input,
    .select__single-value,
    .select__placeholder,
    .select__clear-indicator,
    .select__loading-indicator,
    .select__dropdown-indicator {
      color: $text-color-dark;
    }
  }
}

.ecos-select_blue {
  .select__control {
    background: $color-blue-light;
    border: $border-width-standard solid $color-blue-light;
  }

  .select__single-value,
  .select__placeholder,
  .select__clear-indicator,
  .select__dropdown-indicator {
    color: $color-white;
  }

  .select__control:hover,
  .select__input input[type='text']:hover {
    background: $color-blue-dark;
    border-color: $color-blue-dark;
    box-shadow: none;

    .select__clear-indicator,
    .select__dropdown-indicator {
      color: $color-white;
    }
  }
}

.select_width_full {
  width: 100%;
}

.select_narrow {
  .select__control {
    height: 26px;
    min-height: 26px;
    line-height: 24px;

    .select__single-value {
      transform: none;
      top: 0;
    }

    .select__single-value ~ * {
      margin: 0 2px;
      padding: 0;
    }

    .select__value-container {
      padding: 0 8px;
      bottom: 2px;

      > div {
        padding: 0;
        margin: 0;
      }
    }

    .select__dropdown-indicator {
      padding: 0 8px 0 0;
    }

    .select__clear-indicator {
      padding: 0;
    }

    .select__input {
      height: 24px;
    }
  }
}

.select_extra-narrow {
  .select__control {
    height: 22px;
    min-height: 22px;

    .select__value-container {
      padding: 0 8px;
      height: 22px;
      bottom: 3px;
    }

    .select__dropdown-indicator {
      padding: 0 8px 0 0;
      margin-top: -4px;
    }

    .select__clear-indicator {
      padding: 0;
      margin-top: -4px;
    }

    .select__input {
      height: 22px;
    }

    .select__single-value {
      top: 14px;
    }
  }
}

.select_page-size {
  .select__control {
    .select__single-value {
      top: 1px;
    }
  }
}
