@import '../../styles/constants';

.page-content-root {
  height: 100%;
  min-height: 100%;
}

/* Sticky footer */
.ecos-sticky-wrapper {
  display: flex;
  flex-direction: column;

  margin: 0 auto -52px;
  min-height: 100%;
  background-color: $page-background-color;
}

.ecos-sticky-wrapper_background-white {
  background-color: $color-white;
}

.sticky-footer,
.sticky-push {
  height: 50px;
}

.app {
  &-container {
    height: 100%;
    min-height: 100%;
  }

  &-header {
    z-index: 901;
  }

  &-content {
    & > .ecos-journal-page > .ecos-journal {
      overflow-x: unset;
      overflow-y: unset;
    }
  }

  &-footer {
    display: grid;
    padding: 3px 40px 15px;
    justify-content: space-between;
    text-align: center;
    font-size: 10px;
    background: $color-footer;
    grid-row-end: -1;
  }
}
