@import '../../../../styles/constants';

button {
  &.ecos-btn {
    position: relative;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border: 1px solid transparent;
    border-radius: $border-radius-large;
    text-decoration: none;

    background: $color-gray-4;
    color: $text-color-dark;
    font-family: $font-family;
    font-size: $font-size-standard;
    font-weight: $font-weight-semi-bold;
    font-style: normal;
    line-height: 20px;
    padding: 9px 21px;
    height: 40px;
    cursor: pointer;
    user-select: none;

    &:hover {
      background-color: $color-gray-1;
    }

    &:active {
      background-color: $color-gray-4;
    }

    &:focus {
      background-color: $color-gray-1;
      box-shadow: none;
      outline: 0;
    }
  }

  /*Elements*/
  .ecos-btn__i::before {
    margin: 0;
  }

  .ecos-btn__i_right {
    margin-left: 5px;
  }

  .ecos-btn__i_left {
    margin-right: 5px;
  }

  /*Modifiers*/
  &.ecos-btn_focus_no {
    &:active {
      background-color: inherit;
    }

    &:focus {
      background-color: inherit;
      box-shadow: none;
    }
  }

  &.ecos-btn_tight {
    padding-right: 14px;
    padding-left: 14px;
  }

  &.ecos-btn_transparent {
    background-color: rgba(0, 0, 0, 0);

    &:hover,
    &:active,
    &:focus {
      background-color: rgba(0, 0, 0, 0);
    }
  }

  &.ecos-btn_float_right {
    float: right;
  }

  &.ecos-btn_float_left {
    float: left;
  }

  &.ecos-btn_padding_small {
    padding: 9px 10px;
  }

  &.ecos-btn_i {
    font-size: $font-size-extra-large;
    width: 40px;
    padding: 5px 0;
    border-radius: $border-radius-standard;
  }

  &.ecos-btn_mi {
    font-size: $font-size-extra-large;
    width: auto;
    padding: 5px 13px;
    border-radius: $border-radius-standard;
  }

  &.ecos-btn_width_auto {
    width: auto;
    padding-right: 0;
    padding-left: 0;

    i:before {
      width: auto;
      margin: 0;
    }
  }

  &.ecos-btn_i-big-plus {
    font-size: 32px;
    padding: 0;

    .icon-small-plus {
      display: inline-block;
      height: 35px;
    }
  }

  &.ecos-btn_settings-down {
    .icon-small-up,
    .icon-small-down {
      font-size: 14px;
      display: inline-block;
      position: relative;
      left: 3px;
      bottom: 3px;
    }
  }

  &.ecos-btn_drop-down {
    padding: 9px 11px 9px 15px;
    //width: 165px;
    text-align: left;
    display: inline-flex;

    .icon-small-up,
    .icon-small-down {
      float: right;
    }

    .ecos-btn__text {
      display: inline-block;
      flex: auto;
      @extend %ellipsis;
    }
  }

  &.ecos-btn_disabled {
    cursor: default;
    pointer-events: none;
    color: $color-gray-5;
  }

  &.ecos-btn_size-by-content {
    flex: 0 0 auto;
  }

  /*Sizes*/
  &.ecos-btn_i_sm {
    font-size: $font-size-extra-large;
    width: 30px;
    height: 30px;
    padding: 0;
    border-radius: $border-radius-standard;
  }

  &.ecos-btn_i_12 {
    font-size: $font-size-small;
    width: 12px;
    height: 12px;
    padding: 0;
  }

  &.ecos-btn_i_15 {
    font-size: $font-size-15;
    height: 20px;
    padding: 0;
  }

  &.ecos-btn_narrow {
    height: 26px;
    padding: 0 15px;
    border-radius: $border-radius-standard;
    font-size: $font-size-small;
  }

  &.ecos-btn_sq_sm {
    @extend .ecos-btn_narrow;
    padding: 0 7px;
  }

  &.ecos-btn_sq_sm2 {
    @extend .ecos-btn_narrow;
    padding: 0 4px;
  }

  &.ecos-btn_narrow-t_standard {
    height: 26px;
    padding: 0 15px;
    border-radius: $border-radius-standard;
    font-size: $font-size-standard;
  }

  &.ecos-btn_extra-narrow {
    padding-top: 0;
    padding-bottom: 0;
    height: 22px;
  }

  &.ecos-btn_narrow {
    padding-top: 0;
    padding-bottom: 0;
    height: 26px;
  }

  /*Radius*/
  &.ecos-btn_r_0 {
    border-radius: 0;
  }

  &.ecos-btn_r_6 {
    border-radius: $border-radius-standard;
  }

  &.ecos-btn_r_8 {
    border-radius: $border-radius-large;
  }

  &.ecos-btn_r_biggest {
    border-radius: $border-radius-biggest;
  }

  /*Steps*/
  &.ecos-btn_x-step_10 {
    margin-right: 10px;
  }

  &.ecos-btn_x-step_15 {
    margin-right: 15px;
  }

  &.ecos-btn_x-step_10 {
    margin-right: 10px;
  }

  /*Colors*/
  &.ecos-btn_blue-classic {
    background: $color-blue-dark;
    color: $color-white;

    &:hover,
    &:focus,
    &:active {
      color: $color-blue-dark;
      background: $color-white;
    }

    &:disabled {
      background-color: $color-blue-light2;
    }
  }

  &.ecos-btn_blue {
    background: $color-blue-dark;
    color: $color-white;

    &:focus,
    &:hover {
      background: $color-blue-light;
    }

    &:disabled {
      background-color: $color-blue-light2;
    }
  }

  &.ecos-btn_blue2 {
    background: $color-white;
    color: $color-blue-light;
  }

  &.ecos-btn_light-blue {
    background: $color-blue-light;
    color: $color-white;

    &:active,
    &:focus {
      background: $color-blue-light;
      color: $color-white;
    }
  }

  &.ecos-btn_color_white {
    color: $color-white;
  }

  &.ecos-btn_color_blue-light2 {
    color: $color-blue-light2;
  }

  &.ecos-btn_color_red {
    color: $color-red-1;
  }

  &.ecos-btn_color_green {
    color: $color-green1;
  }

  &.ecos-btn_white {
    background: $color-white;
    color: $color-gray-5;

    &:focus,
    &:active {
      background: $color-white;
      color: $color-gray-5;
    }
  }

  &.ecos-btn_white2 {
    background: $color-white;
    border: $border-width-standard solid $color-gray-6;

    .ecos-btn__i_right {
      color: $color-gray-6;
    }
  }

  &.ecos-btn_grey1 {
    background: $color-white;
    color: $color-gray-1;

    &:focus {
      background: $color-white;
      color: $color-gray-1;
    }
  }

  &.ecos-btn_grey {
    background: $color-gray-4;
    color: $color-gray-5;
  }

  &.ecos-btn_grey2 {
    background: $color-white;
    color: $color-gray-5;

    &:focus {
      background: $color-white;
      color: $color-gray-5;
    }
  }

  &.ecos-btn_grey3 {
    background: $color-white;
    color: $text-color-gray;
  }

  &.ecos-btn_grey4 {
    background: $color-white;
    color: $color-gray-6;

    &:active,
    &:focus {
      background: $color-white;
      color: $color-gray-6;
    }
  }

  &.ecos-btn_grey5 {
    background: $color-gray-4;
    color: $text-color-gray;

    &:active {
      background: $color-gray-4;
      color: $text-color-gray;
    }

    &:focus {
      background: $color-gray-4;
      color: $text-color-gray;
    }
  }

  &.ecos-btn_grey6 {
    background: $color-white;
    color: $text-color-dark;
  }

  &.ecos-btn_grey7 {
    background: $color-gray-5;
    color: $color-white;

    &:focus,
    &:hover {
      color: $color-gray-11;
    }
  }

  &.ecos-btn_grey8 {
    background: $color-gray-6;
    color: $color-white;

    &:focus,
    &:hover {
      color: $color-gray-5;
    }
  }

  &.ecos-btn_grey-dark {
    background: $color-gray-11;
    color: $color-white;

    &:focus,
    &:hover {
      background: lighten($color-gray-11, 10%);
    }
  }

  &.ecos-btn_brown {
    background: $color-white;
    color: $color-brown-2;

    &:hover {
      color: $color-brown-1;
    }

    &:active,
    &:focus {
      background: $color-white;
      color: $color-brown-2;
    }
  }

  &.ecos-btn_brown2 {
    background-color: $color-brown-1;
    color: $color-white;

    &:hover {
      background-color: $color-brown-2;
    }

    &:active,
    &:focus {
      background-color: $color-brown-1;
    }
  }

  &.ecos-btn_bgr-inherit {
    background: inherit;

    &:active,
    &:focus {
      background: inherit;
    }
  }

  &.ecos-btn_color-inherit {
    color: inherit;
  }

  &.ecos-btn_no-back {
    color: $color-white;
    background: transparent;

    &:active,
    &:focus,
    &:hover {
      background: transparent;
    }
  }

  &.ecos-btn_red {
    background: $color-red-1;
    color: $color-white;

    &:focus {
      background: $color-red-1;
      color: $color-white;
    }

    &:hover {
      background: lighten($color-red-1, 10%);
    }
  }

  /*hovers*/
  &.ecos-btn_hover_blue2 {
    &:hover {
      background-color: $color-blue-dark;
      color: $color-white;

      & .ecos-btn__i {
        color: $color-white;
      }
    }
  }

  &.ecos-btn_hover_t_red {
    &:hover {
      color: $color-red-1;
      background: $color-white;
    }
  }

  &.ecos-btn_hover_t_light-red {
    &:hover {
      color: lighten($color-red-1, 10%);
    }
  }

  &.ecos-btn_hover_back_dark-red {
    &:hover {
      background: $color-red-2;
      color: $color-white;
    }
  }

  &.ecos-btn_hover_t_light-green {
    &:hover {
      color: lighten($color-green1, 10%);
    }
  }

  &.ecos-btn_hover_back_dark-green {
    &:hover {
      background: $color-green-10;
      color: $color-white;
    }
  }

  &.ecos-btn_hover_t_white {
    &:hover {
      color: $color-white;
    }
  }

  &.ecos-btn_hover_light-blue {
    &:hover {
      background-color: $color-blue-light;
    }
  }

  &.ecos-btn_hover_light-blue2 {
    &:hover {
      background-color: $color-blue-light;
      color: $color-white;
    }
  }

  &.ecos-btn_hover_t-light-blue {
    &:hover {
      color: $color-blue-light;
      background: inherit;
    }

    &:active {
      color: $color-blue-dark;
      background: inherit;
    }
  }

  &.ecos-btn_hover_t-blue {
    &:hover {
      color: $color-blue-dark;
      background: $color-white;
    }
  }

  &.ecos-btn_hover_dark-blue2 {
    &:hover {
      background-color: $color-blue-dark2;
    }
  }

  &.ecos-btn_hover_dark-blue {
    &:hover {
      background-color: $color-blue-dark;
    }
  }

  &.ecos-btn_hover_t-dark-brown {
    &:hover {
      color: $color-brown-3;
      background: $color-white;
    }
  }

  &.ecos-btn_hover_grey {
    &:hover {
      color: inherit;
      background: $color-gray-2;
    }
  }

  &.ecos-btn_hover_grey2 {
    &:hover {
      background: $color-white;
      color: $color-gray-5;
    }
  }

  &.ecos-btn_hover_grey1 {
    &:hover {
      background: $color-white;
      color: $color-gray-1;
    }
  }

  &.ecos-btn_hover_color-grey {
    &:hover {
      color: $text-color-gray;
    }
  }

  /*active, focus*/
  &.ecos-btn_active_blue {
    &:focus,
    &:active {
      color: $color-blue-dark;
      background: $color-white;
    }
  }

  &.ecos-btn_active_blue2 {
    &:focus,
    &:active {
      color: $color-white;
      background: $color-blue-dark;
    }
  }

  /* Width */
  &.ecos-btn_full-width {
    margin-top: 10px;
    width: 100%;
  }

  &.ecos-btn_full-height {
    height: 100%;
  }

  &.ecos-btn_red {
    background: $color-red-1;
    color: $color-white;

    &:focus {
      background: $color-red-2;
      color: $color-white;
    }

    &:hover {
      background: lighten($color-red-1, 10%);
    }
  }

  &.ecos-btn_red2 {
    background: $color-red-1;
    color: $color-white;

    &:focus,
    &:hover {
      background: $color-red-2;
    }
  }

  &.ecos-btn_green {
    background: $color-green1;
    color: $color-white;

    &:focus,
    &:hover {
      background: $color-green-10;
    }
  }

  /*Shapes */
  &.ecos-btn_circle {
    border-radius: 50%;
    padding: 0;
    text-align: center;
  }

  .ecos-btn__loader {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: transparent;
    pointer-events: none;
  }

  .ecos-btn__content {
    &_hidden {
      visibility: hidden;
    }
  }
}
