@import '../../../styles/constants';

.ecos-modal {
  &.modal-dialog {
    margin-bottom: 0;
  }

  .modal-content {
    border-radius: $border-radius-extra-large;
  }

  .modal-header {
    border-bottom: none;
    color: $text-color-dark;
    height: 70px;
    padding: 0 20px;
    align-items: center;

    .close {
      white-space: nowrap;
      margin: 0 0 0 5px;
      padding: 0;
      opacity: 1;
      z-index: 1;
      line-height: 0;
      flex: auto;
      text-align: right;
      color: $color-gray-dark;

      .ecos-modal-close__icon {
        font-size: $font-size-standard;
      }
    }

    &.ecos-modal-header {
      &_big {
        & .modal-title {
          font-size: $font-size-xxl;
        }

        & .close {
          .ecos-modal-close__icon {
            margin-left: 5px;
          }
        }
      }

      &_divider {
        border-bottom: 2px $color-gray-4 solid;
      }
    }

    &:not(.ecos-modal-header_divider) + .modal-body {
      padding-top: 0;
    }
  }

  .modal-body {
    padding: 20px;
  }

  .modal-title {
    @extend %ellipsis;
    font-size: $font-size-large;
    font-weight: $font-weight-bold;
    width: 100%;
    color: $text-color-dark;
    line-height: 22px;
    display: flex;
    align-items: center;
  }

  .modal-loading {
    border-radius: $border-radius-extra-large;
  }

  &-header {
    &__title,
    &__buttons {
      display: inline-block;
    }

    &__title + &__buttons {
      margin-left: 15px;
    }

    &__title {
      @extend %ellipsis;
      flex: 0 1 auto;
      min-width: 0;
      line-height: normal;
    }
  }

  &-close__text {
    font-weight: $font-weight-semi-bold;
    font-size: $font-size-standard;
    color: $text-color-dark;
  }
}

.ecos-modal_draggable {
  .modal-header {
    cursor: move;
  }
}

.ecos-modal_zero-padding {
  .modal-body {
    padding: 0;
  }
}

.ecos-modal_shadow {
  .modal-content {
    box-shadow: $box-shadow-default;
  }
}

.ecos-modal_empty-header {
  .modal-header {
    padding-bottom: 0;
  }

  .modal-body {
    padding-top: 0;
  }
}

.ecos-modal_level-1 {
  top: 0;
}

.ecos-modal_level-2 {
  top: 70px;
}

.ecos-modal_level-3 {
  top: 130px;
}

.ecos-modal_level-4 {
  top: 190px;
}

.modal-dialog-scrollable {
  &.ecos-modal_level-2 {
    max-height: calc(100% - 1rem - 70px);
  }

  &.ecos-modal_level-3 {
    max-height: calc(100% - 1rem - 130px);
  }

  &.ecos-modal_level-4 {
    max-height: calc(100% - 1rem - 190px);
  }
}

@media (min-width: 576px) {
  .modal-dialog-scrollable {
    &.ecos-modal_level-2 {
      max-height: calc(100% - 3.5rem - 70px);
    }

    &.ecos-modal_level-3 {
      max-height: calc(100% - 3.5rem - 130px);
    }

    &.ecos-modal_level-4 {
      max-height: calc(100% - 3.5rem - 190px);
    }
  }
}

.ecos-modal.ecos-modal_width-xs {
  max-width: 460px;
}

.ecos-modal.ecos-modal_width-sm {
  max-width: 600px;
}

.ecos-modal.ecos-modal_width-m {
  max-width: 800px;
}

.ecos-modal.ecos-modal_width-lg {
  max-width: 1000px;
}

.ecos-modal.ecos-modal_width-extra-lg {
  max-width: 1200px;
}

.ecos-modal.ecos-modal_width-full {
  max-width: calc(100% - 1rem);
}

.ecos-modal.ecos-modal_width-auto {
  width: fit-content;
  max-width: 100vw;
  min-width: 300px;
}

.modal .modal-dialog.ecos-modal.ecos-modal_center {
  margin: 0;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
}

@media (max-width: 600px) {
  .ecos-modal.ecos-modal_width-sm {
    margin: 0.5rem;
  }
}

@media (max-width: 800px) {
  .ecos-modal.ecos-modal_width-m {
    margin: 0.5rem;
  }
}

@media (max-width: 1024px) {
  .ecos-modal.ecos-modal_width-lg {
    margin: 0.5rem;
  }
}

@media (max-width: 1280px) {
  .ecos-modal.ecos-modal_width-extra-lg {
    margin: 0.5rem;
  }
}
