@import '../../../constants';

.formio-dialog-content .preview-panel,
.formio-form {
  .card {
    background-color: transparent;

    &.border {
      border: none !important;
    }

    .card-header {
      background-color: transparent;
      border-bottom: none;
      padding: 0;
    }

    .card-body {
      padding: 13px 0 5px 0;
    }

    .card-title {
      background: $color-yellow-1;
      border-radius: 6px;

      font-family: $font-family-open-sans;
      font-weight: $font-weight-semi-bold !important;
      font-size: $font-size-large;
      color: $text-color-gray;
      line-height: 22px;

      padding: 5px 12px;
    }
  }
}

.ecos-modal {
  .formio-form .panel-body.panel-body_scrollable {
    border: 2px solid $color-gray-4;
    border-right-width: 0;
    border-left-width: 0;
    overflow-y: auto;
    overflow-x: hidden;
    margin: 0 -20px 20px -20px;
    padding: 15px;
  }
}

// fix for legacy card-details page
#bd .yui-gc:not(.grid) > .yui-u .document-details-panel .formio-form .panel-body {
  padding: 13px 0 5px 0;
}
