@import '../../styles/constants';

.ecos-model-editor {
  display: flex;
  height: 100%;
  overflow: hidden;

  &__info {
    height: auto;
  }

  &__designer {
    flex: auto;
    display: flex;
    flex-direction: column;
    margin: 20px;
    position: relative;

    & > :nth-child(n):not(:last-child) {
      margin-bottom: 10px;
    }

    &-title {
      &:empty {
        display: none;
      }
    }

    &-work-zone {
      background: $color-white;
      border-radius: $border-radius-extra-large;
      flex: auto;
      display: flex;
      flex-direction: column;
      position: relative;
    }

    &-child {
      flex: auto;

      & .ecos-model-container {
        height: 100%;
      }
    }

    &-buttons {
      position: absolute;
      bottom: 0;
      display: flex;
      padding: 10px;

      & :nth-child(n):not(:last-child) {
        margin-right: 10px;
      }
    }
  }

  &__sidebar-right {
    width: 30px;
    position: relative;
    box-shadow: -5px 0px 5px -5px rgba(0, 0, 0, 0.2);
    transition: width 0.5s;

    &_open {
      width: 370px;
    }

    &-opener {
      position: absolute;
      z-index: 905;
      display: flex;
      align-items: center;
      justify-content: center;
      top: 20px;
      left: -12px;
      height: 25px;
      width: 25px;
      background: $color-white;
      box-shadow: $box-shadow-default;
      border-radius: $border-radius-extra-large;
      cursor: pointer;

      & > .icon {
        font-size: 15px;
        margin-top: -2px;
      }

      &:hover {
        background: $color-blue-light;

        .icon {
          color: $color-white;
        }
      }
    }

    &-content {
      display: none;
      padding: 20px;
      background: $color-white;
      overflow: auto;
      height: 100%;
      min-width: 320px;
    }

    &_open > &-content {
      display: block;
    }
  }
}
