@import '../styles/constants';

.formio-form_view-mode {
  dl {
    margin-bottom: 0;
    padding: 10px 0;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    border-bottom: 2px solid $color-gray-4;
    position: relative;

    &:only-child {
      height: 100%;
    }

    &.has-error {
      margin: 13px -10px -2px -10px;
      padding-left: 14px;
      padding-right: 14px;
      border: 2px solid $color-pink;
      background-color: $color-pink-4;
      border-radius: 8px;

      .invalid-feedback {
        display: block;
      }
    }

    &:empty {
      padding: 0;
      border-bottom: none;
    }

    &.formio-component__view-only-table-has-rows {
      display: grid;
      grid-template-columns: 100%;
      grid-gap: 10px;
      border-bottom: none;

      .select-journal__value-not-selected,
      .ecos-table-form__value-not-selected {
        display: none;
      }

      dt,
      dd {
        width: 100%;
      }
    }

    &.inline-editing {
      flex-direction: column;

      border: 2px solid $color-blue-light2;
      border-radius: 8px;

      margin: 13px -10px -2px -10px;
      padding-left: 14px;
      padding-right: 14px;
      padding-bottom: 54px;

      position: relative;
      top: -2px;

      &.alert-danger {
        background-color: $color-white;
      }

      &.formio-component-formTable,
      &.formio-component-selectOrgstruct,
      &.formio-component-selectJournal {
        padding-bottom: 14px;

        .help-block {
          margin-bottom: 2.5rem;
        }
      }

      > * {
        width: 100%;
      }
    }

    .inline-editing {
      &__buttons {
        position: absolute;
        width: auto;
        right: 14px;
        bottom: 14px;
      }

      &__button {
        height: 26px;
        width: 26px;
        padding: 0;
        border-radius: 6px;
        color: $color-white;
        display: inline-flex;
        justify-content: center;
        align-items: center;

        .icon {
          font-size: 12px;
        }
      }

      &__cancel-button {
        margin-right: 10px;
        background-color: $color-red-1;
      }

      &__save-button {
        background-color: $color-green1;

        &_disabled {
          background-color: $color_gray-1;
          cursor: default;
        }
      }
    }

    .ecos-form__inline-edit-button {
      position: absolute;
      right: 2px;
      top: 2px;
      height: auto;
      background: transparent;
      display: none;

      &_disabled {
        cursor: not-allowed;
      }

      &_mobile {
        top: 4px;
        width: 30px;
        height: 30px;
        padding: 0;
        background: rgba(255, 255, 255, 0.7);
        border: 2px solid $color-gray-1;
        border-radius: 50%;
        display: inline-flex;
        justify-content: center;
        align-items: center;

        .icon {
          font-size: 16px;
        }
      }
    }

    &:hover {
      .ecos-form__inline-edit-button {
        display: block;
        background: none;
      }
    }
  }

  dt {
    color: $text-color-gray;
    font-size: $font-size-small;
    font-weight: $font-weight-semi-bold;
    padding-right: 15px;
    display: inline-block;
    width: 40%;
    flex-shrink: 0;
  }

  dd {
    color: $text-color-dark;
    font-size: $font-size-small;
    font-weight: $font-weight-bold;
    margin-bottom: 0;
    width: 60%;

    &.dd-html {
      font-weight: $font-weight-normal;

      ol {
        list-style-position: inside;
        padding-left: 0;
      }

      ul {
        list-style: disc inside;
        padding-left: 0;
      }
    }
  }

  &.formio-form .card {
    .card-body {
      padding-top: 0;
    }

    .card-title {
      font-weight: $font-weight-bold !important;
      font-size: 16px;
      color: $text-color-dark;
    }
  }

  .panel-body,
  & .panel-body.card.card-body {
    margin-bottom: 0;
    padding-bottom: 0 !important;
  }
}
