@import '../../../../styles/constants';

.icon {
  $i: &;

  display: inline-block;
  font-size: 20px;
  line-height: 20px;

  &::before {
    margin: 1px !important;
    width: auto !important;
  }

  &#{$i}_btn {
    cursor: pointer;
  }

  &#{$i}_small {
    font-size: 14px;
    line-height: 14px;
  }

  &#{$i}_on {
    color: $color-green1;
  }

  &#{$i}_off {
    color: $color-red-1;
  }

  &#{$i}_small {
    font-size: 14px;
    line-height: 14px;
  }
}
