@import '../../../../styles/constants';

$selector-table: '.ecos-grid__table.table';
$header-height: 52px;

%shadow-h-line {
  content: ' ';
  display: block;
  position: absolute;
  width: 100%;
  background: #e8edef;
  height: 2px;
  z-index: 20;
}

.ecos-grid {
  position: relative;
  overflow: hidden;

  &_hovered {
    background: $color-blue-light3;
  }

  &_no-header {
    & thead {
      display: none;
    }
  }

  &_no-top-border {
    #{$selector-table} {
      &::before {
        content: none;
      }
    }

    .ecos-grid__head-shadow::before {
      content: none;
    }
  }

  &_transparent {
    opacity: 0;
    visibility: hidden;
  }

  &_selectable {
    tbody > tr > td:first-child {
      padding: 0;
    }

    thead > tr > th:first-child {
      width: $header-height;

      .ecos-grid__checkbox-menu-opener {
        padding-right: 10px;
      }
    }
  }

  &__v-scroll {
    @extend %v-scroll;
    top: calc(#{$header-height} + 2px);
  }

  &__h-scroll {
    @extend %h-scroll;

    &_higher {
      bottom: 12px;
    }
  }

  .ecos-grid__tr_selected {
    background: $color-yellow-1;

    .ecos-grid__checkbox {
      background: $color-yellow-1;
    }
  }

  &_drag {
  }

  &_no-drag {
  }

  &__row {
  }

  &__header {
    &_columns-not-resizable {
      .ecos-th__divider {
        cursor: unset;
      }
    }
  }
}

#{$selector-table} {
  margin-bottom: 13px;
  width: 100%;
  position: relative;

  &::before {
    @extend %shadow-h-line;
    top: -2px;
  }

  &::after {
    @extend %shadow-h-line;
    bottom: 0;
  }

  td {
    height: 40px;
    padding: 0;
    vertical-align: middle;
  }

  .ecos-grid__row {
    & td {
      border-top: 2px solid $color-gray-4;
    }

    &:hover td {
      border: 2px solid $color-brown-2;
      border-right: none;
      border-left: none;
      z-index: 10;
    }
  }

  th {
    height: $header-height;
    padding: 8px 0;
    border: none;
    @extend %ellipsis;
  }

  .react-bs-table-no-data {
    padding: 14px;
    text-align: center;
  }
}

.ecos-grid__td {
  display: inline-block;
  width: inherit;
  min-height: 22px;
  padding: 3px 5px;
  margin-top: 8px;
  border-radius: $border-radius-standard;
  color: $text-color-dark;
  font-size: $font-size-small;
  font-weight: $font-weight-normal;
  @extend %ellipsis;

  &:empty {
    display: none;
  }

  &_editable {
    &:hover {
      background: $color-gray-4;
      cursor: pointer;
    }
  }

  &_error {
    background: lighten($color-red-2, 40%);
  }
}

.ecos-grid__checkbox {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  padding-left: 13px;
  background: $color-white;

  &_block {
    width: 100%;
  }

  &-menu {
    &-arrow {
      &:before {
        display: none;
      }
    }

    &-inner.ecos-base-tooltip-inner {
      max-width: unset;
      padding: 0;
    }

    &-opener.icon {
      font-size: 14px;
      color: $color-gray-5;
      padding-left: 8px;
    }
  }

  &-divider {
    position: absolute;
    width: 2px;
    height: 34px;
    right: 0;
    background: $color-gray-4;
  }
}

.ecos-grid_freeze {
  .ecos-th {
    height: 34px;
    user-select: none;

    span {
      @extend %ellipsis;
    }
  }

  &.ecos-grid_selectable {
    .ecos-grid__h-scroll {
      left: 55px;
    }

    thead > tr > th,
    tbody > tr > td {
      &:first-child {
        position: sticky;
        z-index: 3;
        background: $color-white;
        left: 0;
      }
    }

    thead > tr > th:first-child {
      z-index: 5;
    }
  }

  #{$selector-table} > thead > tr {
    background: $color-white;

    & > th {
      top: 0;

      &:nth-child(n) {
        position: sticky;
        z-index: 25;
        background: $color-white;
      }

      &:first-child {
        z-index: 26;
        background: $color-white;
      }
    }
  }
}

.ecos-grid__head-shadow {
  display: none;
  position: absolute;
  z-index: 7;
  top: 0;
  width: 100%;
  height: $header-height;
  background: inherit;

  &::before {
    @extend %shadow-h-line;
    top: 0;
  }

  &::after {
    @extend %shadow-h-line;
    bottom: -1px;
  }
}

.ecos-grid__left-shadow {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 49px;
  width: 5px;
  border-right: 2px solid $color-gray-4;
  z-index: 10;
}

.ecos-info-text.ecos-info-text-cell_error {
  display: inline-block;
  font-weight: unset;
  font-size: $font-size-small;
}
