@import '../../../constants';

.formio-form {
  .formio-component-file {
    // TODO
    input[type='file'] {
      display: none;
    }

    .list-group {
      .list-group-item {
        padding: 0 5px;
        border: 0;
        border-top: 2px solid $color-gray-4;

        &:last-child {
          border-bottom: 2px solid $color-gray-4;
        }

        a {
          color: $color-blue-dark;
          text-decoration: none;
          padding: 3px 0;
        }

        .row > div {
          color: $text-color-dark;
          font-size: $font-size-small;
          font-weight: $font-weight-normal;
          line-height: 38px;

          &.col-md-9 {
            //line-height: 1em;
            //align-self: center;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
          }

          padding: 3px 10px;

          select {
            margin-top: -3px;
          }

          .glyphicon {
            margin-left: 50%;
          }
        }

        select.file-type {
          width: 100%;
        }
      }

      .list-group-item.list-group-header {
        border: 0;
        border-top: 2px solid $color-gray-4;
        border-bottom: 2px solid $color-gray-4;
        padding: 8px 0;
        margin-bottom: -2px;
        border-radius: 0;

        .row div {
          padding: 0;
        }

        strong {
          color: $text-color-dark;
          font-size: $font-size-standard;
          font-weight: $font-weight-semi-bold;
          border-left: 2px solid $color-gray-4;
          line-height: 1;
          padding: 9px 10px;
          display: inline-block;
          width: 100%;
        }
      }
    }

    .fileSelector {
      border: 0;
      border-bottom: 2px solid $color-gray-4;
    }

    .alert.alert-warning {
      margin-top: 5px;
    }
  }
}

.file-list-view-mode {
  background: $color-gray-4;
  border-radius: $border-radius-standard;
  padding: 5px 15px;
  margin: -5px 0 -5px -15px;

  &_hide-label {
    margin-left: 0;
  }
}

.file-item_view-mode {
  margin-bottom: 7px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;

  &:last-child {
    margin-bottom: 0;
  }
}

@media (max-width: 767px) {
  .formio-form {
    .formio-component-file {
      .list-group {
        .list-group-item {
          .row {
            padding: 10px 0;
            width: calc(100% - 25px);

            > div {
              line-height: 12px;

              &:first-child {
                &.col-md-1 {
                  position: absolute;
                  z-index: 1;
                  text-align: right;
                  top: 5px;
                  right: 0;
                  width: auto;

                  i {
                    padding: 8px;
                    margin: 0;
                    font-size: 20px;
                  }
                }
              }
            }
          }
        }

        .list-group-item.list-group-header {
          display: none;

          &:only-child {
            height: 1px;
            overflow: hidden;
            padding: 0;
            margin: 0;
            border-bottom: 0;
            display: block;
          }

          strong {
            padding: 2px 10px;
            border-left: none;
          }
        }
      }
    }
  }
}
