@import '../../styles/constants';

.modal {
  .modal-content {
    border-radius: $border-radius-extra-large;
    //padding: 24px 21px 26px 21px;
  }

  .modal-header,
  .modal-body,
  .modal-footer {
    //padding: 0;
    border: none;
  }

  .modal-footer {
    margin-top: 20px;
  }

  .modal-header {
    //margin-bottom: 28px;
  }

  .modal-title {
    font-family: $font-family;
    font-style: normal;
    font-weight: bold;
    line-height: 22px;
    font-size: $font-size-large;
    letter-spacing: 0.2pt;
    color: $text-color-dark;
  }

  .modal-footer > :not(:last-child) {
    margin-right: 10px;
  }
  .modal-footer > :not(:first-child) {
    margin-left: 0;
  }
}

.modal__close-button {
  position: absolute;
  right: 5px;
  top: 6px;
  font-size: $font-size-xxl;
  font-weight: 600;
  line-height: 1;
  color: $color-gray-dark;
  border: 0;
  background: $color-white;
}

.modal__full-width-block {
  width: 100%;
}
