@import '../../../styles/constants';

.ecos-popper {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: auto auto;
  align-items: center;

  &__text {
    @extend %ellipsis;
  }

  &__icon.icon {
    cursor: pointer;
    color: $color-gray-5;
    height: 18px;
    margin-top: -3px;
    margin-left: 10px;

    &:hover {
      color: $color-blue-light;
    }

    &:before {
      display: unset;
    }
  }

  &__arrow {
    width: 0.6rem;
    height: 0.6rem;

    &::before {
      content: '';
      background: white;
      width: 0.6rem;
      height: 0.6rem;
      transform: translate(-50%, -50%) rotate(45deg);
      position: absolute;
      top: 0;
      left: 0.25rem;
      box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    }
  }
}

.ecos-popup-manager {
  display: flex;
  padding: 0 10px;
  border-radius: $border-radius-standard;
  background: white;
  box-shadow: $box-shadow-tooltip;
  z-index: 10000;
}
