@import '../../../styles/constants';

.ecos-journal-menu {
  $menu: &;

  background: $color-gray-3;
  padding: 15px 25px 15px 15px;
  height: 100%;
  min-width: 273px;

  &_grid {
    display: grid;
    grid-auto-rows: minmax(41px, max-content);
    align-items: stretch;

    #{$menu} {
      &__journals,
      &__presets {
        overflow: hidden;
      }
    }
  }

  &__collapsible-list {
    height: 100%;

    .collapsible-list__collapse {
      overflow: auto;
    }
  }

  &_open {
    width: 100%;
  }

  &_tabs {
    border-top-left-radius: $border-radius-extra-large;
    border-bottom-left-radius: $border-radius-extra-large;
    padding-top: 12px;
  }

  &_mobile {
    padding: 18px 16px;
    border-radius: 0;
    overflow-y: auto;

    &::-webkit-scrollbar-track {
      background-color: $color-gray-3 !important;
    }

    &::-webkit-scrollbar-track-piece {
      background-color: $color-gray-3 !important;
    }
  }
}

.ecos-journal-menu__hide-menu-btn {
  width: 100%;
  text-align: right;
  margin-bottom: 15px;
}

.ecos-journal-menu__journals,
.ecos-journal-menu__presets,
.ecos-journal-menu__folders-tree {
  padding: 15px;
  background: $color-white;
}

.ecos-journal-menu__journals {
  margin-bottom: 10px;
}

.ecos-btn.ecos-journal-menu {
  &__btn {
    position: absolute;
    line-height: 15px;

    &_delete {
      right: 13px;
      top: 10px;
    }

    &_edit {
      right: 39px;
      top: 10px;
    }

    &_cancel {
      right: 12px;
      top: 10px;
    }

    &_apply {
      right: 37px;
      top: 10px;
    }
  }
}

.ecos-journal-menu__list-item {
  height: 40px;
  padding: 13px 15px;
  position: relative;

  &-title {
    @extend %ellipsis;
    width: 100%;
    display: inline-block;
  }

  &-actions {
    display: none;
  }

  &:hover &-actions {
    display: inline-block;
    position: absolute;
    right: 10px;
    top: 10px;
    background: linear-gradient(to right, rgba(#7396cd, 0), #7396cd 20%);
    padding-left: 10px;
  }

  &-btn.ecos-btn {
    width: auto;
    height: auto;
    padding: 0;

    &:not(:last-child) {
      padding-right: 5px;
    }
  }
}
