@import '../../../../../../styles/constants';

.ecos-grid__header {
  width: 100%;

  th:last-child {
    .ecos-th__divider {
      display: none;
    }
  }
}

.ecos-th {
  $th: &;

  display: flex;
  align-items: center;
  position: relative;
  width: inherit;
  height: 34px;
  padding: 0 17px;
  color: $text-color-dark;
  font-size: $font-size-standard;
  font-weight: $font-weight-bold;
  box-sizing: border-box;

  &_filtered {
    padding: 1px 10px;

    #{$th}__content {
      padding: 6px 7px;
      border-radius: 6px;
      background: $color-gray-4;

      #{$th}__actions {
        background: $color-gray-4;
      }
    }
  }

  &_sortable {
    cursor: pointer;
  }

  &__content {
    display: flex;
    position: relative;
    align-items: center;
    width: 100%;

    &-text {
      flex: 1;
      @extend %ellipsis;
    }
  }

  &__actions {
    display: inline-flex;
  }

  &__divider {
    position: absolute;
    width: 2px;
    background: $color-gray-4;
    top: 0;
    right: 0;
    bottom: 0;
    cursor: col-resize;
  }
}

.ecos-th__action-icon {
  color: $color-gray-5;
  font-size: $font-size-standard;
  margin: 0 4px;
  cursor: pointer;

  &:hover {
    color: $color-blue-light;
  }

  &_active {
    color: $color-blue-light;

    &:hover {
      color: $color-blue-dark;
    }
  }
}

.ecos-th__filter-tooltip {
  & > .tooltip.show {
    opacity: 1;
  }

  &_date {
    .tooltip-inner {
      max-width: 250px;
    }
  }

  .ecos-th__filter-tooltip-body {
    background-color: $color-white;
    color: $color-gray-6;
    box-shadow: $box-shadow-tooltip;
    border-radius: $border-radius-large;
    text-align: center;
    padding: 9px 10px;
    max-width: unset;

    & > .ecos-filter {
      padding: unset;
      min-width: 200px;
    }
  }

  span.arrow.ecos-th__filter-tooltip-marker {
    display: block;
    position: absolute;
    width: 12px;
    height: 12px;
    bottom: 1px;
    background-color: $color-white;
    transform: rotate(-45deg);
    box-shadow: $box-shadow-tooltip-arrow-top;
    z-index: 2;

    &::before {
      border-top-color: $color-white;
    }
  }

  .ecos-th__filter-tooltip-close {
    position: absolute;
    top: (50% - 14);
    right: 0;
    margin-right: 14px;
    cursor: pointer;
    color: $color-gray-4;

    &:hover {
      color: $color-blue-dark;
    }
  }

  &-input {
    height: 26px;
    border: 2px solid $color-gray-4;
    padding-left: 5px;
    width: 100%;
    font-size: $font-size-small;
  }

  &-message {
    white-space: break-spaces;
    color: $text-color-gray;
  }

  &-datepicker {
    display: flex;
    align-items: center;

    &-predicate {
      margin-right: 5px;

      &-toggle {
        .ecos-dropdown__toggle_selected {
          padding: 0 5px;
          height: 26px;
          width: 45px;
        }
      }
    }

    &-apply {
      line-height: 26px;
      margin-left: 10px;
    }

    .ecos-input {
      height: 26px;
      padding-left: 5px;
    }

    .ecos-th__filter-tooltip-close {
      top: calc(50% - 7px);
      right: 25px;
    }

    .ecos-datepicker__icon {
      line-height: 26px;
    }

    .ecos-dropdown__menu.show {
      min-width: unset;
      width: 46px;

      li {
        padding: 5px 10px;
        height: 31px;
      }
    }
  }
}
