@import '../../../styles/constants';

.ecos-tabs {
  display: inline-flex;

  &_mt-10 {
    margin-top: 10px;
  }

  &_width-full {
    display: flex;

    .ecos-tab {
      flex: 1;
    }
  }

  &_narrow {
    & .ecos-tab {
      padding: 0 13px;
      font-size: $font-size-standard;
      line-height: 26px;
    }
  }

  .ecos-tab {
    border-radius: 0;

    &:first-of-type {
      border-top-left-radius: $border-radius-standard;
      border-bottom-left-radius: $border-radius-standard;
    }

    &:last-of-type {
      border-top-right-radius: $border-radius-standard;
      border-bottom-right-radius: $border-radius-standard;
      margin-right: 0;
    }
  }
}

.ecos-tab {
  $root: &;

  font-size: $font-size-standard;
  background: $color-white;
  color: $text-color-gray;
  font-weight: $font-weight-semi-bold;
  border-radius: $border-radius-standard;
  border-color: $color-gray-4;
  padding: 0 5px;
  line-height: 40px;
  cursor: pointer;
  margin-right: 2px;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  user-select: none;

  &_active {
    color: $color-white;
    background-color: $color-blue-dark;
    border-color: $color-blue-dark;

    #{$root}-label_editing {
      color: $color-white;
    }

    #{$root}-actions {
      --back-actions: #{$color-blue-dark};

      &__icon {
        --color-actions: #{$color-blue-light2};

        &:hover {
          --color-actions: #{$color-white};
        }

        &_paler {
          --color-actions: #{$color-blue-light};

          &:hover {
            --color-actions: #{$color-blue-light2};
          }
        }
      }
    }
  }

  &_editable {
    display: inline-flex;
    position: relative;
    padding: 0 59px 0 14px;
    min-width: 90px;

    &:hover {
      #{$root}-actions__icon_hidden {
        display: block;
      }
    }

    &#{$root}_disabled {
      padding-right: 14px;
    }
  }

  &-label {
    transition: width 0.1s linear;
    width: 100%;
    overflow: hidden;
    padding: 0 1px;
    //margin: 0 1px;

    &:focus {
      outline: none;
    }

    &[contenteditable] {
      -webkit-user-select: text;
      user-select: text;
      padding-right: 2px;
    }

    &_editing {
      text-align: left;
      color: $text-color-dark;

      &:empty:before {
        content: attr(placeholder);
        color: $color-gray-6;
      }
    }

    &:not(&_editing) {
      @extend %ellipsis;
    }

    &_editing + &-actions {
      box-shadow: none;
    }
  }

  &-actions {
    --back-actions: #{$color-white};

    position: absolute;
    right: 0;
    height: 100%;
    display: inline-flex;
    align-items: center;
    background: var(--back-actions);

    & :nth-child(n) {
      padding-right: 10px;
    }

    &__icon {
      --color-actions: #{$color-gray-5};

      color: var(--color-actions);
      font-size: $font-size-standard;
      cursor: pointer;

      &:hover {
        --color-actions: #{$color-blue-light};
      }

      &_hidden {
        display: none;
      }

      &_paler {
        --color-actions: #{$color-gray-1};

        &:hover {
          --color-actions: #{$color-gray-5};
        }
      }

      &_menu {
        $menu: &;

        font-size: $font-size-extra-large;

        &-opened {
          color: $color-blue-light;
        }

        &-active-tab {
          color: $color-blue-light;

          &#{$menu}-opened {
            color: $color-blue-light2;
          }

          &:hover {
            color: $color-blue-light2;
          }
        }
      }

      &.icon-custom-drag-big {
        font-size: $font-size-extra-large;
        cursor: grab;
      }
    }

    &__menu {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      &.tooltip-inner {
        padding: 0;
      }

      &-item {
        $item: &;

        padding: 9px 15px;
        width: 100%;
        text-align: left;
        cursor: pointer;

        &:hover {
          background-color: $color-gray-4;

          &:first-child {
            border-top-left-radius: $border-radius-large;
            border-top-right-radius: $border-radius-large;
          }

          &:last-child {
            border-bottom-left-radius: $border-radius-large;
            border-bottom-right-radius: $border-radius-large;
          }
        }

        &-icon {
          color: $color-gray-5;
          margin-right: 10px;
          font-size: 16px;
          vertical-align: text-top;
        }

        &-title {
          font-size: $font-size-standard;
        }

        &_warning {
          color: $color-red-1;

          #{$item}-icon {
            color: $color-red-1;
          }
        }
      }
    }
  }

  &_draggable {
    z-index: 10001;
  }
}
