.icon-arrow:before {
  content: '\e800';
} /* '' */
.icon-plus:before {
  content: '\e801';
} /* '' */
.icon-small-plus:before {
  content: '\e802';
} /* '' */
.icon-calendar:before {
  content: '\e803';
} /* '' */
.icon-upload:before {
  content: '\e804';
} /* '' */
.icon-small-eye-show:before {
  content: '\e805';
} /* '' */
.icon-copy:before {
  content: '\e806';
} /* '' */
.icon-group:before {
  content: '\e807';
} /* '' */
.icon-small-left:before {
  content: '\e808';
} /* '' */
.icon-small-right:before {
  content: '\e809';
} /* '' */
.icon-custom-more-big-normal:before {
  content: '\e80a';
} /* '' */
.icon-reload:before {
  content: '\e80b';
} /* '' */
.icon-items:before {
  content: '\e80c';
} /* '' */
.icon-custom-more-small-pressed:before {
  content: '\e80d';
} /* '' */
.icon-custom-more-small-normal:before {
  content: '\e80e';
} /* '' */
.icon-download:before {
  content: '\e80f';
} /* '' */
.icon-models:before {
  content: '\e810';
} /* '' */
.icon-pie:before {
  content: '\e811';
} /* '' */
.icon-eye-show:before {
  content: '\e812';
} /* '' */
.icon-small-filter:before {
  content: '\e813';
} /* '' */
.icon-small-down:before {
  content: '\e814';
} /* '' */
.icon-custom-drag-big:before {
  content: '\e815';
} /* '' */
.icon-edit:before {
  content: '\e816';
} /* '' */
.icon-filter:before {
  content: '\e817';
} /* '' */
.icon-small-up:before {
  content: '\e818';
} /* '' */
.icon-apps:before {
  content: '\e819';
} /* '' */
.icon-question:before {
  content: '\e81a';
} /* '' */
.icon-small-eye-hide:before {
  content: '\e81b';
} /* '' */
.icon-small-minus:before {
  content: '\e81c';
} /* '' */
.icon-list:before {
  content: '\e81d';
} /* '' */
.icon-small-arrow-right:before {
  content: '\e81e';
} /* '' */
.icon-small-warning:before {
  content: '\e81f';
} /* '' */
.icon-forms:before {
  content: '\e820';
} /* '' */
.icon-delete:before {
  content: '\e821';
} /* '' */
.icon-tiles:before {
  content: '\e822';
} /* '' */
.icon-small-close:before {
  content: '\e823';
} /* '' */
.icon-settings:before {
  content: '\e824';
} /* '' */
.icon-case-models:before {
  content: '\e825';
} /* '' */
.icon-search:before {
  content: '\e826';
} /* '' */
.icon-custom-more-big-pressed:before {
  content: '\e827';
} /* '' */
.icon-decision-tables:before {
  content: '\e828';
} /* '' */
.icon-custom-checkbox-outline-checked:before {
  content: '\e829';
} /* '' */
.icon-custom-checkbox-outline-indeterminate:before {
  content: '\e82a';
} /* '' */
.icon-custom-checkbox-outline-unchecked:before {
  content: '\e82b';
} /* '' */
.icon-custom-checkbox-filled-unchecked:before {
  content: '\e82c';
} /* '' */
.icon-custom-checkbox-minus:before {
  content: '\e82d';
} /* '' */
.icon-custom-checkbox-check:before {
  content: '\e82e';
} /* '' */
.icon-custom-checkbox-filled-checked:before {
  content: '\e82f';
} /* '' */
.icon-small-arrow-left:before {
  content: '\e830';
} /* '' */
.icon-columns:before {
  content: '\e831';
} /* '' */
.icon-small-check:before {
  content: '\e832';
} /* '' */
.icon-custom-radiobutton-dot:before {
  content: '\e833';
} /* '' */
.icon-custom-radiobutton-filled-unselect:before {
  content: '\e834';
} /* '' */
.icon-custom-radiobutton-filled-select:before {
  content: '\e835';
} /* '' */
.icon-custom-radiobutton-outline-unselect:before {
  content: '\e836';
} /* '' */
.icon-custom-resize-widget:before {
  content: '\e837';
} /* '' */
.icon-underline:before {
  content: '\e838';
} /* '' */
.icon-italic:before {
  content: '\e839';
} /* '' */
.icon-bold:before {
  content: '\e83a';
} /* '' */
.icon-small-clock:before {
  content: '\e83b';
} /* '' */
.icon-users:before {
  content: '\e83c';
} /* '' */
.icon-custom-lock:before {
  content: '\e83d';
} /* '' */
.icon-history:before {
  content: '\e83e';
} /* '' */
.icon-custom-resize-vertical:before {
  content: '\e83f';
} /* '' */
.icon-custom-drag-small:before {
  content: '\e840';
} /* '' */
.icon-link:before {
  content: '\e841';
} /* '' */
.icon-doc:before {
  content: '\e842';
} /* '' */
.icon-print:before {
  content: '\e843';
} /* '' */
.icon-user-away:before {
  content: '\e844';
} /* '' */
.icon-user-online:before {
  content: '\e845';
} /* '' */
.icon-user-normal:before {
  content: '\e846';
} /* '' */
.icon-exit:before {
  content: '\e847';
} /* '' */
.icon-document-download:before {
  content: '\e848';
} /* '' */
.icon-notify:before {
  content: '\e849';
} /* '' */
.icon-custom-file-doc:before {
  content: '\e84a';
} /* '' */
.icon-custom-file-empty:before {
  content: '\e84b';
} /* '' */
.icon-alert:before {
  content: '\e84c';
} /* '' */
.icon-new-tab:before {
  content: '\e84d';
} /* '' */
.icon-eye-hide:before {
  content: '\e84e';
} /* '' */
.icon-document-view:before {
  content: '\e84f';
} /* '' */
.icon-folder:before {
  content: '\e850';
} /* '' */
.icon-bug:before {
  content: '\e851';
} /* '' */
.icon-undo:before {
  content: '\e852';
} /* '' */
.icon-restore:before {
  content: '\e853';
} /* '' */
.icon-backup:before {
  content: '\e854';
} /* '' */
.icon-custom-checkbox-filled-indeterminate:before {
  content: '\e855';
} /* '' */
.icon-code-json:before {
  content: '\e857';
} /* '' */
.icon-filter-clean:before {
  content: '\e858';
} /* '' */
.icon-kanban:before {
  content: '\e859';
} /* '' */
.icon-actual:before {
  content: '\e85a';
} /* '' */
.icon-redo:before {
  content: '\e85b';
} /* '' */
.icon-empty:before {
  content: '\e88d';
} /* '' */
.icon-hamburger-menu:before {
  content: '\e88e';
} /* '' */
