@import '../../../styles/constants';

%h-indents {
  padding: 0 20px;
}

.ecos-current-task {
  $root: &;

  &-list {
    &__v-scroll {
      @extend %v-scroll;
    }

    &-dashlet {
      height: fit-content;
    }

    &__loader {
      height: 100%;
      min-height: 60px;
      position: relative;
    }

    &_view-enum {
      overflow-x: hidden;
    }

    &_view-table {
      margin: 0 20px;

      .table {
        border-top: none;

        th {
          border-top: none;
        }
      }

      .ecos-th {
        font-weight: $font-weight-bold;
      }

      .ecos-grid__td {
        font-weight: $font-weight-semi-bold;
      }
    }
  }

  &-info {
    $info: &;

    &__head {
      margin-bottom: 14px;
      display: flex;
      justify-content: space-between;

      &-title {
        @extend %ellipsis;
        flex: auto;
        min-width: 0;
      }
    }

    &__separator {
      margin: 11px 0;
    }

    &__fields {
      padding: 0 20px 10px;
      color: $text-color-dark;

      &-item {
        display: flex;
        align-items: center;
        min-height: 26px;
      }

      #{$info}-label {
        flex: 0 0 114px;
        padding-right: 4px;
        font-weight: $font-weight-semi-bold;
        color: $text-color-gray;
        font-style: normal;
        font-size: $font-size-small;
        @extend %ellipsis;
      }

      #{$info}-value {
        min-width: 0;
        font-weight: $font-weight-bold;
        font-size: $font-size-standard;
        color: $text-color-dark;
        font-style: normal;
        display: flex;
        flex-wrap: nowrap;

        &_mobile {
          display: flex;

          &-val {
            width: auto;
          }

          &-icon {
            position: relative;
            top: -20px;
          }

          &-list {
            display: flex;
            flex-direction: column;
            margin-top: 10px;
            margin-bottom: 10px;
            padding-left: 0;
            font-weight: bold;
            max-width: 100%;
          }
        }

        &__text {
          display: inline-block;
          @extend %ellipsis;

          &:only-child {
            max-width: 100%;
          }
        }

        #{$root}__tooltip-btn {
          display: flex;
        }
      }
    }
  }

  &__tooltip {
    $t: &;

    &-btn {
      margin-left: 10px;
      display: inline-block;
      vertical-align: middle;

      &:hover,
      &_active {
        #{$t}-icon,
        #{$t}-count {
          color: $color-blue-light;
          cursor: pointer;
        }
      }
    }

    &-count {
      font-size: 15px;
      color: $color-gray-6;
      white-space: nowrap;
    }

    &-icon {
      color: $color-gray-6;
      font-size: 17px;
      margin-left: 3px;

      &_big {
        font-size: 32px;
      }
    }
  }

  &_no-data {
    color: $color-gray-5;
  }

  &__tooltip {
    .ecos-base-tooltip-inner {
      text-align: left;
      white-space: pre-line;
      overflow-wrap: break-word;
      word-wrap: break-word;
      word-break: break-word;
      max-width: 348px;
      padding: 0;
      font-size: $font-size-small;
      line-height: 18px;
    }

    &-text {
      padding: 15px 0 15px 15px;
      min-width: 153px;

      &-inner {
        margin-right: 15px;
      }
    }

    &-list {
      &-item {
        @extend %ellipsis;
      }
    }

    &__v-scroll {
      @extend %v-scroll;
    }

    .tooltip.show {
      opacity: 1;
    }
  }

  &__action {
    text-align: left;
    white-space: nowrap;

    & .icon {
      margin-right: 10px;
    }

    &-menu-item {
      display: flex;
      align-items: center;

      & .icon {
        margin-right: 10px;
        color: $color-gray-5;
      }
    }

    &-dropdown {
      cursor: pointer;

      &_mobile {
        height: 100%;
        width: 62px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: -20px;
      }
    }
  }

  &-settings {
    &__info {
      &-icon.icon {
        font-size: $font-size-standard;
        margin-left: 5px;
        cursor: help;
      }

      &-table {
        max-height: 250px;
        overflow: auto;
        margin-bottom: 10px;

        thead tr:nth-child(1) th {
          background: white;
          position: sticky;
          top: -1px;
          z-index: 10;
        }
      }
    }
  }
}
