@import '../../../../styles/constants';

.ecos-dropdown {
  display: inline-block;

  &_full-width {
    width: 100%;

    .ecos-dropdown__menu.dropdown-menu {
      width: 100%;
    }
  }

  &__toggle {
    &-label {
      padding: 0 5px;
    }
  }

  &__menu {
    &:not(.ecos-dropdown__menu_cascade) {
      transform: none !important;
      top: 100% !important;
    }

    &.dropdown-menu {
      border-radius: $border-radius-standard;
      box-shadow: $box-shadow-default;
      border: none;
      padding: 0;
      margin-top: 5px;
      margin-bottom: 5px;
      width: auto;
    }

    ul {
      padding: 0;
      list-style: none;
      margin-bottom: 0;
    }

    li {
      padding: 10px 15px;
      cursor: pointer;
      font-size: $font-size-standard;
      font-weight: $font-weight-semi-bold;
      color: $text-color-dark;
      @extend %ellipsis;

      &:hover {
        background-color: $color-gray-4;

        &:first-child {
          border-top-left-radius: 6px;
          border-top-right-radius: 6px;
        }

        &:last-child {
          border-bottom-left-radius: 6px;
          border-bottom-right-radius: 6px;
        }
      }

      a {
        color: $text-color-dark;
        display: block;
        @extend %ellipsis;

        &:hover,
        &:visited,
        &:active {
          color: $text-color-dark;
        }
      }
    }

    &_right {
      left: auto !important;
      right: 0 !important;
    }

    &_links {
      li {
        padding: 0;

        a {
          padding: 10px 15px;
        }
      }
    }
  }

  &-outer {
    &__tooltip-inner {
      &.ecos-base-tooltip-inner {
        padding: 0;
        max-width: none;
        text-align: left;
      }
    }
  }
}
