.ecos-form-modal {
  &__btn {
    &-settings {
      & .icon-settings {
        font-size: 16px;
      }
    }
  }

  &_loader-blur .loader-wrapper {
    background-color: rgba(255, 255, 255, 0.7);
  }
}

.formio-form {
  transition: height 0.5s;
}
