@import '../../../../styles/constants';

.select-orgstruct {
  position: relative;

  &_view-only {
    margin-bottom: 0;

    > p {
      margin-bottom: 0;
    }
  }

  &_compact {
    overflow: hidden;
    width: 100%;

    &-extra {
      &.ecos-btn {
        height: 22px;
      }
    }
  }
}
