@import '../../../styles/constants';

.ecos-properties {
  $root: &;

  &-dashlet {
    &__body {
      width: 100%;
    }
  }

  &_hidden {
    display: none;
  }

  &__scroll {
    &_v {
      @extend %v-scroll;
    }
  }

  &__formio {
    width: 100%;
    padding: 20px 20px 0;

    &_small {
      padding-top: 0;

      .formio-component-tabs .formio-component-tabs-wrapper {
        margin-top: 20px;
      }
    }

    > div {
      > div {
        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    & .formio-form .card .card-body {
      padding-top: 10px;
    }
  }

  &-settings {
    padding: 20px 20px 0;

    &__block {
      max-width: 434px;
    }

    &__title {
      margin-bottom: 20px;
    }

    &__subtitle {
      background: $color-gray-25;
      border-radius: $border-radius-standard;
      font-weight: $font-weight-semi-bold;
      font-size: $font-size-small;
      padding: 5px 10px;
    }

    &__msg {
      font-size: $font-size-small;
      justify-content: left;
      margin-top: 5px;
    }

    &__form-list {
      margin-top: 5px;

      &-dropdown {
        width: 100%;
      }

      &-toggle {
        display: inline-block;
        width: 100%;
      }

      &-btn.ecos-btn {
        text-align: left;
        padding-right: 15px;
        width: 100%;
        border: $border-width-standard solid $color-gray-6;
        background: $color-white;

        .ecos-btn__i {
          position: absolute;
          right: 15px;
          top: 12px;
        }
      }
    }

    &__checkbox-block {
      margin-top: 15px;
    }

    &__buttons {
      margin-top: 22px;

      & > :nth-child(even) {
        margin-left: 10px;
      }
    }
  }

  &__loader {
    min-height: 50px;
  }
}
