@import '../../styles/constants';
@import '../../styles/content';

.ecos-dashboard-settings {
  $settings: &;

  &__tooltip {
    .tooltip {
      z-index: 10001;
    }
  }

  &_modal {
    padding: 0;
    max-width: unset;

    .ecos-tab_editable:not(.ecos-tab_active),
    #{$settings}__layout-tabs-add-tab:not(:hover):not(:focus):not(:active) {
      border-width: 1px;
      border-color: $color-gray-6;
      border-style: solid;
    }

    #{$settings} {
      &__body {
        overflow-y: auto;
        position: relative;
        padding-right: 2px;
        height: calc(100vh - 248px);
      }

      &__container {
        &:last-child {
          margin-bottom: 0;
        }

        &-group {
          &:last-child {
            margin-bottom: 0;
          }
        }
      }

      &__actions {
        margin-top: 35px;

        &:before {
          content: ' ';
          display: block;
          background: $color-gray-4;
          height: 2px;
          position: absolute;
          margin-top: -20px;
          left: 0;
          width: 100%;
        }
      }
    }
  }

  &__loader-wrapper {
    border-radius: $border-radius-extra-large;
    align-items: unset;

    div {
      margin-top: 30%;
    }
  }

  &__header {
    @extend %title-page;
    margin-top: 30px;
    margin-bottom: 24px;
  }

  &__section {
    border-top: 2px solid $color-gray-4;
    padding-top: 20px;
  }

  &__spec {
    font-size: $font-size-standard;
    font-weight: $font-weight-semi-bold;
    margin-bottom: 20px;

    &-block {
      display: flex;
    }

    &-label {
      color: $color-gray-5;
      padding-right: 5px;
    }
  }

  &__bindings {
    &-owner {
      display: inline-flex;

      align-items: center;
      margin-top: 25px;
    }

    &-types {
      display: flex;
      align-items: center;
      flex-wrap: wrap;

      & > :not(:last-child) {
        margin-right: 15px;
      }

      & :first-child {
        position: relative;
      }

      &-loader {
        position: absolute;
        top: 0;
        width: 100%;
        background: rgba($color-white, 0.5);
      }
    }

    &-dropdown {
      .ecos-btn {
        min-width: 250px;
        justify-content: flex-end;
      }

      &-menu {
        min-width: 100%;
      }
    }

    &-description {
      font-weight: $font-weight-semi-bold;
      font-size: $font-size-small;
      color: $color-gray-5;
      max-width: 350px;
    }

    &-reset {
      &-tooltip {
        .tooltip {
          z-index: 9999;
        }

        .tooltip-inner {
          min-width: 450px;
        }
      }
    }
  }

  &__device-tabs {
    margin-bottom: 20px;

    &-item {
      padding: 0 15px;
    }

    .ecos-tab {
      &:not(.ecos-tab_active) {
        background: $color-gray-4;
      }
    }
  }

  &__layout-tabs {
    &-wrapper {
      display: flex;
      padding-bottom: 28px;
    }

    &-arrows {
      width: auto;
    }

    &-item {
      max-width: 350px;

      &_modal {
        &.ecos-tab_draggable {
          border: 1px solid $color-gray-6;
        }
      }
    }

    &-add-tab {
      margin-left: 10px;
      min-width: 40px;
      min-height: 40px;
    }

    &_empty {
      background: $color-gray-1;
      border-radius: $border-radius-standard;
      flex: auto;
    }
  }

  &__container {
    margin-bottom: 20px;

    &-title {
      @extend %title-block--1;
      margin-bottom: 15px;
    }

    &-subtitle {
      @extend %subtitle-block--1;
      margin-bottom: 18px;
    }

    &-group {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-content: space-between;
      margin-bottom: 34px;

      &-item {
        margin-bottom: 11px;
        overflow: hidden;

        &:not(:last-child) {
          margin-right: 11px;
        }
      }

      &_mobile {
        flex-wrap: nowrap;
      }
    }
  }

  &__drag {
    display: flex;
    width: 100%;
    justify-content: flex-start;

    &_multiline {
      flex-wrap: wrap;
    }

    &-container {
      $container: &;

      display: flex;
      width: 100%;
      flex-wrap: wrap;

      &_full {
        min-width: 100%;
      }

      &_widgets-to {
        display: flex;
        width: 100%;

        &_mobile {
          max-width: 30%;
          min-width: 180px;

          #{$settings}__widgets-column {
            width: 100%;
          }

          .ecos-drag-item {
            max-width: 100%;
          }
        }
      }

      &_row {
        &:not(:last-child) {
          margin-right: 10px;
        }
      }

      &_col {
        &:not(:last-child) {
          margin-bottom: 27px;
        }
      }

      &_widgets-from_mobile {
        margin-right: 15px;
        margin-bottom: 0 !important;
        height: 100%;
        padding: unset;
      }
    }

    &-scrollbar-wrapper {
      padding: 10px;
    }

    &-item {
      &_menu {
        width: calc(100% / 3 - 10px);
        flex-basis: calc(100% / 3 - 10px);
      }
    }
  }

  &__widgets {
    $widgets: &;

    &-column {
      display: flex;
      flex-direction: column;
      width: 195px;
      margin-bottom: 16px;

      &:not(:last-of-type) {
        margin-right: 16px;
      }

      &-title {
        background: $color-gray-4;
        border-radius: $border-radius-small;
        vertical-align: bottom;
        padding: 5px 11px 0;
        height: 26px;
        font-style: normal;
        font-weight: $font-weight-semi-bold;
        font-size: $font-size-small;
        color: $text-color-gray;
        margin-bottom: 9px;
        box-sizing: border-box;
      }
    }

    &-container {
      width: 100%;
      box-sizing: border-box;
    }

    &-item {
      width: 100%;

      &:not(:last-child) {
        margin-bottom: 5px;
      }
    }
  }
}

.ecos-ds-widget {
  &-actions {
    &__tooltip {
      .tooltip {
        z-index: 10001;
      }
    }

    &__btn {
      &_alert.icon {
        cursor: help;

        &:hover {
          color: $color-red-1;
        }
      }
    }
  }

  &-settings {
    &__title {
      @extend %title-block--1;

      & > :nth-child(n) {
        margin-left: 10px;
      }
    }

    &__filter {
      & .ecos-filters-group {
        box-shadow: none;

        &__tools {
          padding: 0 0 10px 25px;
        }

        & .ecos-filters-group__empty {
          font-weight: $font-weight-semi-bold;
          text-align: center;
          background: $color-gray-15;
          border-radius: $border-radius-standard;
          height: unset;
          padding: 5px;
        }
      }
    }

    &__buttons {
      display: flex;
      justify-content: flex-end;
      margin-top: 20px;

      & > :nth-child(n) {
        margin-left: 10px;
      }
    }
  }
}
