@import '../../../styles/constants';

.ecos-event-history {
  $root: &;

  &__v-scroll {
    @extend %v-scroll;
  }

  &__filter {
    &-wrapper {
      padding: 16px 20px;
    }
  }

  &-list {
    &__loader {
      height: 100%;
    }

    &_view-table {
      padding-left: 20px;

      .ecos-th {
        font-weight: $font-weight-bold;
      }

      .ecos-grid__td {
        font-weight: $font-weight-semi-bold;

        &.event-cell-task-comment {
          white-space: pre-wrap;
        }
      }
    }
  }

  &-card {
    $card: &;

    &__fields {
      margin: 10px 20px;
      color: $text-color-dark;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &__separator {
      margin: 8px 0;
    }

    &-label {
      font-size: $font-size-standard;
      font-weight: $font-weight-bold;
      margin-bottom: 7px;
    }

    &-value {
      font-size: $font-size-small;
      font-weight: $font-weight-semi-bold;

      &_version {
        font-size: $font-size-large;
        font-weight: $font-weight-bold;
        margin-right: 10px;
      }

      &_date {
        font-size: $font-size-standard;
        font-weight: $font-weight-bold;
        color: $text-color-gray;
      }

      &_status {
        font-size: $font-size-standard;
        font-weight: $font-weight-bold;
      }

      &_none {
        color: $color-gray-5;
      }
    }
  }
}
