@import '../../../../styles/constants';

.search {
  border-radius: $border-radius-standard;
  padding: 9px 12px 8px 10px;
  display: inline-block;
  background-color: $color-white;
  margin-left: 15px;
  vertical-align: top;

  label {
    margin: 0;
    padding: 0 !important;
    cursor: text;
    display: flex;
    width: 100%;

    &:before {
      color: $color-gray-5;
      font-size: 20px;
      position: relative;
      top: 1px;
    }
  }

  input {
    outline: none;
    border: none;
    color: $text-color-dark;
    background-color: $color-white;
    font-weight: $font-weight-semi-bold;
    font-size: $font-size-standard;
    margin-left: 2px;
    width: 100% !important;

    &::placeholder {
      color: $color-gray-5;
    }
  }
}

@media (max-width: 992px) {
  .search {
    width: 100%;
  }
}
